{{#if dropdown.isOpen}}
  {{#ember-wormhole to=to renderInPlace=renderInPlace}}
    {{!-- we already have our own paper-backdrop
      {{#if overlay}}
        <div class="ember-basic-dropdown-overlay"></div>
      {{/if}}
    --}}
    {{paper-backdrop class="md-menu-backdrop md-click-catcher"}}
    <div
      id={{dropdownId}}
      class="ember-basic-dropdown-content {{class}} {{if renderInPlace 'ember-basic-dropdown-content--in-place'}} {{if hPosition (concat 'ember-basic-dropdown-content--' hPosition)}} {{if vPosition (concat 'ember-basic-dropdown-content--' vPosition)}}
      md-open-menu-container md-whiteframe-z2 md-clickable {{if isActive "md-active"}}"
      style={{style}}
      dir={{dir}}>
      {{#paper-menu-content-inner width=width dense=dense dropdown=dropdown as |innerContentHash|}}
        {{yield innerContentHash}}
      {{/paper-menu-content-inner}}
    </div>
  {{/ember-wormhole}}
{{/if}}
