{{#if label}}
  <label for={{inputElementId}} class="{{if required "md-required"}}">{{label}}</label>
{{/if}}

{{#if icon}}
  {{paper-icon icon}}
{{/if}}

{{#if textarea}}
  {{textarea
    class="md-input"
    id=inputElementId
    placeholder=placeholder
    value=value
    disabled=disabled
    autofocus=autofocus
    focus-in=onFocusIn
    focus-out=(action "focusOut")
    key-down=onKeyDown
    enter=onEnter
    bubbles=true

    name=passThru.name
    rows=passThru.rows
    cols=passThru.cols
    maxlength=passThru.maxlength
    tabindex=passThru.tabindex
    required=passThru.required
    selectionEnd=passThru.selectionEnd
    selectionStart=passThru.selectionStart
    selectionDirection=passThru.selectionDirection
    wrap=passThru.wrap
    readonly=passThru.readonly
    form=passThru.form
    spellcheck=passThru.spellcheck
  }}
{{else}}
  {{input
    class="md-input"
    id=inputElementId
    placeholder=placeholder
    type=type value=value
    disabled=disabled
    autofocus=autofocus
    focus-in=onFocusIn
    focus-out=(action "focusOut")
    key-down=onKeyDown
    enter=onEnter
    bubbles=true

    accept=passThru.accept
    autocomplete=passThru.autocomplete
    autosave=passThru.autosave
    form=passThru.form
    formaction=passThru.formaction
    formenctype=passThru.formenctype
    formmethod=passThru.formmethod
    formnovalidate=passThru.formnovalidate
    formtarget=passThru.formtarget
    height=passThru.height
    inputmode=passThru.inputmode
    min=passThru.min
    maxlength=passThru.maxlength
    max=passThru.max
    multiple=passThru.multiple
    name=passThru.name
    pattern=passThru.pattern
    readonly=passThru.readonly
    required=passThru.required
    selectionDirection=passThru.selectionDirection
    size=passThru.size
    spellcheck=passThru.spellcheck
    step=passThru.step
    tabindex=passThru.tabindex
    width=passThru.width
  }}
{{/if}}

{{#unless hideAllMessages}}
  <div class="md-errors-spacer">
    {{#if maxlength}}
      <div class="md-char-counter">{{renderCharCount}}</div>
    {{/if}}
  </div>
  {{#if isInvalid}}
    <div class="md-input-messages-animation md-auto-hide" ng-messages>
      {{#each errorMessages as |error index|}}
        <div
          id="error-{{inputElementId}}{{if index "-"}}{{if index index}}"
          ng-message="{{error.key}}"
          class="ng-enter ng-enter-active"
        >
          {{error.message}}
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/unless}}

{{#if iconRight}}
  {{paper-icon iconRight}}
{{/if}}
