<md-autocomplete-wrap id={{autocompleteWrapperId}} role="listbox" layout="row" class="{{if notFloating "md-whiteframe-z1"}} {{if notHidden "md-menu-showing"}}">
  {{#if floating}}
    {{paper-input
      type="search"
      label=placeholder
      focus-in="inputFocusIn"
      focus-out="inputFocusOut"
      key-down="inputKeyDown"
      value=searchText
      onChange=(action (mut searchText))
      disabled=disabled
      required=required
      flex=true}}
  {{else}}
    {{input type="search"
      flex=true
      placeholder=placeholder
      value=searchText
      focus-in="inputFocusIn"
      focus-out="inputFocusOut"
      key-down="inputKeyDown"
      autocomplete="off"
      disabled=disabled
      required=required
      aria-haspopup=true
      aria-autocomplete="list"
      aria-activedescendant=""
      aria-expanded=notHidden}}

    {{#if enableClearButton}}
      {{#paper-button iconButton=true themed=false onClick=(action "clear")}}
        {{paper-icon "close"}}
      {{/paper-button}}
    {{/if}}

  {{/if}}

  {{#if loading}}
    {{paper-progress-linear}}
  {{/if}}

  {{#if notHidden}}
    {{#paper-autocomplete-list suggestions=suggestions selectedIndex=selectedIndex wrapToElementId=autocompleteWrapperId mouse-up="listMouseUp" mouse-leave="listMouseLeave" mouse-enter="listMouseEnter"}}

        {{#each suggestions as |item index|}}

          {{#paper-autocomplete-item lookupKey=lookupKey item=item selectedIndex=selectedIndex index=index pick="pickModel" as |label|}}
          {{!-- Render block template, then named component then default --}}
            {{#if hasBlock}}
              {{yield searchText item index}}
            {{else}}
              {{#if itemComponent}}
                {{component itemComponent searchText=searchText label=label index=index}}
              {{else}}
                {{paper-autocomplete-highlight searchText=searchText label=label}}
              {{/if}}
            {{/if}}
          {{/paper-autocomplete-item}}

        {{else}}
          {{#if showLoadingBar}}
          {{!-- Render block template, then named component then default --}}
            {{#if hasBlock}}
                <li>{{yield searchText to="inverse"}}</li>
            {{else}}
              {{#if notFoundComponent}}
                  <li>{{component notFoundComponent searchText=searchText}}</li>
              {{else}}
                  <li>{{notFoundMsg}}</li>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/each}}
    {{/paper-autocomplete-list}}
  {{/if}}
</md-autocomplete-wrap>

<aria-status class="md-visually-hidden" role="status" aria-live="assertive">
  {{#each messages as |message index|}}
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
  {{/each}}
</aria-status>
