{{#ember-wormhole to=destination}}
  {{paper-backdrop
    locked-open=isLockedOpen
    opaque=true
    class="md-dialog-backdrop"
    fixed=fixed
  }}
  <div class="md-dialog-container" onclick={{action "outsideClicked"}}>
    <md-dialog class="md-default-theme md-transition-in {{if fullscreen 'md-dialog-fullscreen'}}" onclick={{action "dialogClicked"}}>
      {{yield}}
    </md-dialog>
  </div>
{{/ember-wormhole}}
