{{#if label}}
    <label for={{inputElementId}}>{{label}}</label>
{{/if}}

{{#if icon}}
  {{paper-icon icon class=icon-class}}
{{/if}}

{{#if textarea}}
  {{textarea
    class="md-input"
    id=inputElementId
    placeholder=placeholder
    value=value
    focus-in=(action "focusIn")
    focus-out=(action "focusOut")
    disabled=disabled
    required=required
    autofocus=autofocus

    name=attr-name
    rows=attr-rows
    cols=attr-cols
    maxlength=attr-maxlength
    tabindex=attr-tabindex
    selectionEnd=attr-selectionEnd
    selectionStart=attr-selectionStart
    selectionDirection=attr-selectionDirection
    wrap=attr-wrap
    readonly=attr-readonly
    form=attr-form
    spellcheck=attr-spellcheck

    enter=onEvent
    key-down=onkeyDown
  }}
{{else}}
  {{input
    class="md-input"
    id=inputElementId
    placeholder=placeholder
    type=type value=value
    focus-in=(action "focusIn")
    focus-out=(action "focusOut")
    disabled=disabled
    required=required
    autofocus=autofocus

    accept=attr-accept
    autocomplete=attr-autocomplete
    autosave=attr-autosave
    form=attr-form
    formaction=attr-formaction
    formenctype=attr-formenctype
    formmethod=attr-formmethod
    formnovalidate=attr-formnovalidate
    formtarget=attr-formtarget
    height=attr-height
    inputmode=attr-inputmode
    min=attr-min
    maxlength=attr-maxlength
    max=attr-max
    multiple=attr-multiple
    name=attr-name
    pattern=attr-pattern
    readonly=attr-readonly
    selectionDirection=attr-selectionDirection
    size=attr-size
    spellcheck=attr-spellcheck
    step=attr-step
    tabindex=attr-tabindex
    width=attr-width

    enter=onEvent
    key-down=onkeyDown
  }}
{{/if}}

{{#unless hideAllMessages}}
  <div class="md-error-spacer">
    {{#if maxlength}}
        <div class="md-char-counter">{{renderCharCount}}</div>
    {{/if}}
  </div>

  <div class="md-input-message-animation md-auto-hide" ng-messages>
    <div id="error-{{inputElementId}}" ng-message="{{ng-message}}" class="{{if isInvalid 'ng-enter ng-enter-active' 'ng-leave ng-leave-active'}}">{{errortext}}</div>
  </div>
{{/unless}}
