<div class="md-scale-wrapper {{spinnerClass}}" style={{scaleWrapperStyle}}>
  <div class="md-spinner-wrapper">
    <div class="md-inner ">
      <div class="md-gap" style={{gapStyle}}></div>
      <div class="md-left">
        <div class="md-half-circle" style={{leftStyle}}></div>
      </div>
      <div class="md-right">
        <div class="md-half-circle" style={{rightStyle}}></div>
      </div>
    </div>
  </div>
</div>