{{#if mdFloatingLabel}}
    <md-input-container flex ng-if="floatingLabel">
        <label>{{floatingLabel}}</label>
        <input type="search" value="{{searchText}}"
               id="fl-input-{{$mdAutocompleteCtrl.id}}"
               name="{{inputName}}"
               autocomplete="off"
               ng-required="$mdAutocompleteCtrl.isRequired"
               ng-minlength="inputMinlength"
               ng-maxlength="inputMaxlength"
               ng-disabled="$mdAutocompleteCtrl.isDisabled"
               ng-model="$mdAutocompleteCtrl.scope.searchText"
               ng-keydown="$mdAutocompleteCtrl.keydown($event)"
               ng-blur="$mdAutocompleteCtrl.blur()"
               ng-focus="$mdAutocompleteCtrl.focus()"
               aria-owns="ul-{{$mdAutocompleteCtrl.id}}"
               aria-label="{{floatingLabel}}"
               aria-autocomplete="list"
               aria-haspopup="true"
               aria-activedescendant=""
               aria-expanded="{{!$mdAutocompleteCtrl.hidden}}"/>
        <div md-autocomplete-parent-scope md-autocomplete-replace>' + leftover + '</div>
    </md-input-container>
{{else}}

  {{paper-autocomplete-input flex=true
  parent=parent
  type="search"
  autocomplete="off"
  placeholder=parent.placeholder
  required=parent.isRequired
  disabled=parent.isDisabled
  value=parent.searchText
  aria-haspopup=true
  aria-autocomplete="list"
  aria-activedescendant=""
  aria-expanded=notHidden}}

  <!--
    <input flex type="search"
           id="input-{{$mdAutocompleteCtrl.id}}"
           name="{{inputName}}"
           ng-if="!floatingLabel"
           autocomplete="off"
           ng-required="$mdAutocompleteCtrl.isRequired"
           ng-disabled="$mdAutocompleteCtrl.isDisabled"
           ng-model="$mdAutocompleteCtrl.scope.searchText"
           ng-keydown="$mdAutocompleteCtrl.keydown($event)"
           ng-blur="$mdAutocompleteCtrl.blur()"
           ng-focus="$mdAutocompleteCtrl.focus()"
           placeholder="{{placeholder}}"
           aria-owns="ul-{{$mdAutocompleteCtrl.id}}"
           aria-label="{{placeholder}}"
           aria-autocomplete="list"
           aria-haspopup="true"
           aria-activedescendant=""
           aria-expanded="{{!$mdAutocompleteCtrl.hidden}}"/>
-->


  {{#if parent.searchText}}
    {{#paper-button classNames="md-icon-button" action="clear"}}{{paper-icon icon="close"}}{{/paper-button}}
  {{/if}}

{{/if}}

<md-progress-linear ng-if="$mdAutocompleteCtrl.loading && !$mdAutocompleteCtrl.hidden"
                    md-mode="indeterminate"></md-progress-linear>

{{#paper-autocomplete-list parent=parent}}
  {{#each parent.suggestions as |item index|}}
    {{#paper-autocomplete-item item=item parent=parent index=index}}
      {{item.name}}
    {{/paper-autocomplete-item}}
  {{else}}
      <li>No matches found for "{{parent.searchText}}".</li>
  {{/each}}
{{/paper-autocomplete-list}}