<label for={{inputElementId}}>{{label}}</label>
{{input class="md-input" id=inputElementId type=type value=value focus-in="focusIn" focus-out="focusOut" disabled=disabled required=required}}
{{#if isInvalid}}
<div ng-messages>
    <div id="error-{{inputElementId}}" ng-message="{{ng-message}}">{{errortext}}</div>
</div>
{{/if}}
{{#if md-maxlength}}
<div class="md-char-counter">{{renderCharCount}}</div>
{{/if}}