<label for={{inputElementId}}>{{label}}</label>
{{input id=inputElementId type=type value=value focus-in="focusIn" focus-out="focusOut" disabled=disabled required=required}}
{{#if isInvalid}}
    <div id="error-{{inputElementId}}" error-message="{{errorAttr}}">{{errorText}}</div>
{{/if}}