<md-autocomplete-wrap role="listbox" layout="row" class="{{wrapperClasses}}">
  {{#if floating}}
    {{paper-autocomplete-input
    parent=this
    placeholder=placeholder
    value=searchText
    disabled=disabled
    required=required
    }}
  {{else}}
    {{input type="search"
    flex=true
    placeholder=placeholder
    value=searchText
    focus-in="inputFocusIn"
    focus-out="inputFocusOut"
    key-down="inputKeyDown"
    autocomplete="off"
    disabled=disabled
    required=required
    aria-haspopup=true
    aria-autocomplete="list"
    aria-activedescendant=""
    aria-expanded=notHidden
    }}


    {{#if searchText}}
      {{#if notDisabled}}
        {{#paper-button classNames="md-icon-button" mdButtonClass=false action="clear"}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/if}}
    {{/if}}

  {{/if}}

  {{#if loading}}
    {{paper-progress-linear md-mode="indeterminate"}}
  {{/if}}


  {{#paper-autocomplete-list parent=this}}
    {{#each suggestions as |item index|}}
      {{#paper-autocomplete-item item=item parent=this index=index as |label|}}
        {{#if hasBlock}}
          {{yield item index false searchText}}
        {{else}}
          {{paper-autocomplete-highlight searchText=searchText label=label}}
        {{/if}}
      {{/paper-autocomplete-item}}
    {{else}}
        {{#if notLoading}}
          {{#unless allowNonExisting}}
          {{#unless debouncingState}}
            {{#if hasBlock}}
                <li>{{yield searchText 0 true}}</li>
            {{else}}
                <li>No matches found for "{{searchText}}".</li>
            {{/if}}
          {{/unless}}
          {{/unless}}
        {{/if}}
    {{/each}}
  {{/paper-autocomplete-list}}
</md-autocomplete-wrap>

<aria-status class="md-visually-hidden" role="status" aria-live="assertive">
  {{#each messages as |message index|}}
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
  {{/each}}
</aria-status>