{{#if monthLabelInSingleLine}}
  <tr>
    <td class="md-calendar-month-label" colspan="7">{{moment-format firstDateOfMonth monthLabelFormat}}</td>
  </tr>
{{/if}}
{{#each weeks as |week weekIndex|}}
  <tr>
    {{#unless (or monthLabelInSingleLine (gt weekIndex 0))}}
      <td class="md-calendar-month-label" colspan="2">{{moment-format firstDateOfMonth monthLabelFormat}}</td>
    {{/unless}}
    {{#each week as |day columnIndex|}}
      {{#unless (and (not monthLabelInSingleLine) (lt columnIndex 2) (eq weekIndex 0))}}
        {{#if day}}
          <td class="md-calendar-date {{if (and selectedDate (is-same selectedDate day.date precision='day')) 'md-calendar-selected-date'}} {{if (is-same today day.date precision='day') 'md-calendar-date-today'}}" {{action 'onCellClicked' day.date}}>
            <span class="md-calendar-date-selection-indicator">{{day.day}}</span>
          </td>
        {{else}}
          <td class="md-calendar-date"></td>
        {{/if}}
      {{/unless}}
    {{/each}}
  </tr>
{{/each}}
