{{#if label}}
    <label for={{inputElementId}}>{{label}}</label>
{{/if}}

{{#if icon}}
  {{paper-icon icon=icon class=icon-class}}
{{/if}}

{{#if textarea}}
  {{textarea class="md-input" id=inputElementId placeholder=placeholder value=value focus-in="focusIn" key-down="keyDown" focus-out="focusOut" disabled=disabled required=required autofocus=autofocus}}
{{else}}
  {{input class="md-input" id=inputElementId placeholder=placeholder type=type value=value focus-in="focusIn" key-down="keyDown" focus-out="focusOut" disabled=disabled required=required autofocus=autofocus
      accept=attr-accept
      autocomplete=attr-autocomplete
      autosave=attr-autosave
      form=attr-form
      formaction=attr-formaction
      formenctype=attr-formenctype
      formmethod=attr-formmethod
      formnovalidate=attr-formnovalidate
      formtarget=attr-formtarget
      height=attr-height
      inputmode=attr-inputmode
      min=attr-min
      maxlength=attr-maxlength
      max=attr-max
      multiple=attr-multiple
      name=attr-name
      pattern=attr-pattern
      readonly=attr-readonly
      selectionDirection=attr-selectionDirection
      size=attr-size
      spellcheck=attr-spellcheck
      step=attr-step
      tabindex=attr-tabindex
      width=attr-width

      enter=event-enter
  }}
{{/if}}

{{#unless hideAllMessages}}
    <div ng-messages>
    <div id="error-{{inputElementId}}" ng-message="{{ng-message}}" class="{{if isInvalid 'ng-enter ng-enter-active' 'ng-leave ng-leave-active'}}">{{errortext}}</div>
    </div>
{{/unless}}

{{#if maxlength}}
    <div class="md-char-counter">{{renderCharCount}}</div>
{{/if}}
