<md-chips-wrap ng-keydown="$mdChipsCtrl.chipKeydown($event)" class="md-chips {{if isFocused 'md-focused'}}">
  {{#each content as |item|}}
    <md-chip class="md-chip md-default-theme">
      <div class="md-chip-content" tabindex="-1" aria-hidden="true">
        {{#if template}}
          {{yield item}}
        {{else}}
          <span>{{item}}</span>
        {{/if}}
      </div>
      <div class="md-chip-remove-container">
        {{#unless readOnly}}
          <button class="md-chip-remove ng-scope" {{action 'removeItem' item}} type="button" aria-hidden="true" tabindex="-1">
            {{paper-icon icon="clear" size="lg"}}
            <span class="md-visually-hidden"> Remove </span>
          </button>
        {{/unless}}
      </div>
      {{#unless readOnly}}
        <span class="md-visually-hidden"> Press delete to remove this chip. </span>
      {{/unless}}
    </md-chip>
  {{/each}}
  {{#unless readOnly}}
    <div class="md-chip-input-container ng-scope">
      {{input tabindex="0" placeholder=placeholder aria-label="Add Tag" value=newItem focus-in="inputFocus" focus-out="inputBlur" enter='addItem'}}
    </div>
  {{/unless}}
</md-chips-wrap>
