{{#if label}}
  <label class={{if value 'md-static' 'md-placeholder'}} for={{inputElementId}}>{{label}}</label>
{{/if}}

{{#if icon}}
  {{paper-icon icon class=icon-class}}
{{/if}}

{{#paper-select-core placeholder=placeholder value=value disabled=disabled getItems=getItems itemLabelCallback=itemLabelCallback as |items|}}
  {{yield items}}
{{/paper-select-core}}
