{{page-toolbar pageTitle="Autocomplete" isDemo=true}}

{{#doc-content}}

  {{#paper-card}}
  {{#paper-card-content}}
    <h2>Two way binding: Basic Usage {{countrySearchText}}</h2>
    <blockquote>Use <code>\{{paper-autocomplete}}</code> to search for matches from local or remote data sources.</blockquote>

    {{! BEGIN-SNIPPET autocomplete.basic-usage }}
    {{#paper-autocomplete
      disabled=firstDisabled
      onCreate=(action "addCountry")
      options=items
      allowClear=true
      searchText=countrySearchText
      selected=selectedCountry
      search=(if simulateQuery (action "searchCountries"))
      searchField="name"
      labelPath="name"
      placeholder="Select a Country..."
      loadingMessage="Searching countries..."
      noMatchesMessage="Oops this country doesn't exist. Create a new country?"
      onSelectionChange=(action (mut selectedCountry)) as |country autocomplete|}}
      {{paper-autocomplete-highlight
        label=country.name
        searchText=autocomplete.searchText
        flags="i"}}
    {{/paper-autocomplete}}
    {{! END-SNIPPET }}
      {{/paper-card-content}}
{{paper-button primary=true label="Clear" onClick=(action (mut countrySearchText) "")}}

{{/paper-card}}



{{#paper-card}}
  {{#paper-card-content}}
    <h2>With action: {{countrySearchText2}}</h2>

    {{! BEGIN-SNIPPET autocomplete.basic-usage }}
    {{#paper-autocomplete
      disabled=firstDisabled
      options=items
      allowClear=true
      searchText=(readonly countrySearchText2)
      onSearchTextChange=(action (mut countrySearchText2))
      selected=selectedCountry2
      searchField="name"
      labelPath="name"
      placeholder="Select a Country..."
      loadingMessage="Searching countries..."
      noMatchesMessage="Oops this country doesn't exist. Create a new country?"
      onSelectionChange=(action (mut selectedCountry2)) as |country autocomplete|}}
      {{paper-autocomplete-highlight
        label=country.name
        searchText=autocomplete.searchText
        flags="i"}}
    {{/paper-autocomplete}}
    {{! END-SNIPPET }}
      {{/paper-card-content}}
{{paper-button primary=true label="Clear" onClick=(action (mut countrySearchText2) "")}}

{{/paper-card}}

{{/doc-content}}
