{{page-toolbar pageTitle="Button" isDemo=true}}

{{#doc-content}}
  {{! BEGIN-SNIPPET buttons.example }}
  <div class="layout-row">
    {{#paper-button onClick=(action "flatButton")}}Button with action{{/paper-button}}
    {{#paper-button noink=true primary=true}}Primary (noink){{/paper-button}}
    {{#paper-button disabled=true}}disabled{{/paper-button}}
    {{#paper-button warn=true}}warn{{/paper-button}}
    {{#paper-button accent=true}}accent{{/paper-button}}
    {{#paper-button href="http://emberjs.com/images/tomsters/original.png" target="_blank"}}href link{{/paper-button}}
  </div>
  <p>
    {{#paper-button raised=true onClick=(action "raisedButton")}}Button with action{{/paper-button}}
    {{#paper-button raised=true primary=true}}Primary{{/paper-button}}
    {{#paper-button raised=true disabled=true}}disabled{{/paper-button}}
    {{#paper-button raised=true warn=true}}warn{{/paper-button}}
    {{#paper-button raised=true accent=true}}accent{{/paper-button}}
  </p>
  {{#custom-button}}
    <p>
      {{#paper-button raised=true onClick=(action "targetButton")}}Button with target{{/paper-button}}
      {{#paper-button raised=true primary=true onClick=(action "targetButton")}}Button with bubble{{/paper-button}}
      {{#paper-button raised=true primary=true onClick=(action "targetButton") bubbles=false}}Button no bubble{{/paper-button}}
    </p>
  {{/custom-button}}

  <p>
    {{#paper-button raised=true fab=true}}Fab{{/paper-button}}
    {{#paper-button raised=true fab=true accent=true}}Fab{{/paper-button}}
    {{#paper-button raised=true mini=true}}Mini{{/paper-button}}
    {{#paper-button raised=true mini=true primary=true}}Mini{{/paper-button}}
    {{#paper-button iconButton=true}}{{paper-icon "accessibility"}}{{/paper-button}}
  </p>

  <p>
    {{paper-button raised=true label="Blockless version"}}
  </p>
  {{! END-SNIPPET }}
  <h3>Template</h3>
  {{code-snippet name="buttons.example.hbs"}}

  <h3>Controller</h3>
  {{code-snippet name="buttons.component.js"}}

  {{paper-api
    (p-section
      (p-row "onClick" "closure" "Action sent when the button is clicked.")
      (p-row "type" "string" "Sets the html5 `type` attribute. Defaults to `\"button\"`, except for `<a>` link buttons.")
      (p-row "bubbles" "boolean" "Determines whether the Ember click event handler bubbles. Default is `undefined`, which bubbles.")
      (p-row "disabled" "boolean" "Whether the button is displayed as disabled and does not accept clicks.")
    )
    (p-section
      "Link buttons"
      (p-row "href" "string" "Displays the button as an `<a>` link to the specified destination URL.")
      (p-row "target" "string" "Sets the `<a>` link target attribute, such as `\"_blank\"`.")
    )
    (p-section
      "Appearance"
      (p-row "fab" "boolean" "Display as a Floating Action Button.")
      (p-row "iconButton" "boolean" "Set when the contents contains an icon and adjusts CSS appropriately.")
      (p-row "label" "string" "Set the content of the button when used as a blockless component.")
      (p-row "mini" "boolean" "Display as a mini-sized button. Implies `fab`, unless `fab` is explicity set falsy.")
      (p-row "noInk" "boolean" "Suppresses the ripple effect when clicked.")
      (p-row "primary" "boolean" "Display as the primary button, more prominent that other buttons.")
      (p-row "raised" "boolean" "Display button with a 3-D effect.")
    )
    "color"
  }}

{{/doc-content}}
