{{! template-lint-disable no-action no-curly-component-invocation no-implicit-this }}
<PageToolbar @pageTitle="Checkbox" @isDemo={{true}} />

<DocContent>
  {{! BEGIN-SNIPPET checkbox }}
  <div class="layout-column">
    <PaperCheckbox @value={{value1}} @onChange={{action (mut value1)}}>
      A checkbox: {{value1}}
    </PaperCheckbox>

    <PaperCheckbox @value={{value2}} @onChange={{action (mut value2)}}>
      A checkbox: {{if value2 "yep" "nope"}}
    </PaperCheckbox>

    <PaperCheckbox @value={{value3}} @onChange={{action (mut value3)}} @disabled={{true}}>
      Checkbox (disabled)
    </PaperCheckbox>

    <PaperCheckbox @value={{true}} @onChange={{action (mut value4)}} @disabled={{true}}>
      Checkbox (disabled and value)
    </PaperCheckbox>

    <PaperCheckbox @value={{value5}} @onChange={{action (mut value5)}} @noink={{true}}>
      Checkbox (no ink)
    </PaperCheckbox>

    <PaperCheckbox @label="Blockless version" @value={{value6}} @onChange={{action "toggleValue6"}} />

    <PaperCheckbox @indeterminate={{isIndeterminate}} @value={{value7}} @onChange={{action (mut value7)}}>
      Indeterminate checkbox
    </PaperCheckbox>

    <PaperCheckbox @disabled={{true}} @indeterminate={{isIndeterminate}} @value={{value7}} @onChange={{null}}>
      Indeterminate checkbox (disabled)
    </PaperCheckbox>
  </div>
  {{! END-SNIPPET }}

  <h3>Template</h3>
  <CodeSnippet @name="checkbox.hbs" />

</DocContent>
