{{! template-lint-disable no-action no-implicit-this }}
<PageToolbar @pageTitle="Divider" @isDemo={{true}} />

<DocContent>

  <PaperCard>
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Full Bleed</h2>
        <span class="flex"></span>
        <PaperButton @onClick={{action "toggleSourceCodeFull"}} @iconButton={{true}}>
          <PaperIcon @icon="code" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperContent>
      <div class="doc-code-example {{if showSourceCodeFull "is-visible"}}">
        <CodeSnippet @name="divider.full.hbs" />
      </div>
      {{! BEGIN-SNIPPET divider.full }}
      <PaperList>
        {{#each messages as |item|}}
          <PaperItem @class="md-3-line">
            <div class="md-list-item-text">
              <h3>{{item.what}}</h3>
              <h4>{{item.who}}</h4>
              <p>{{item.notes}}</p>
            </div>
            <PaperDivider />
            <PaperButton>Respond</PaperButton>
          </PaperItem>
        {{/each}}
      </PaperList>
      {{! END-SNIPPET }}
    </PaperContent>

  </PaperCard>

  <PaperCard>
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Inset</h2>
        <span class="flex"></span>
        <PaperButton @onClick={{action "toggleSourceCodeInset"}} @iconButton={{true}}>
          <PaperIcon @icon="code" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperContent>
      <div class="doc-code-example {{if showSourceCodeInset "is-visible"}}">
        <CodeSnippet @name="divider.inset.hbs" />
      </div>
      {{! BEGIN-SNIPPET divider.inset }}
      <PaperList @classNames="list-demo">
        {{#each messages as |item|}}
          <PaperItem @class="md-3-line">
            <img src="{{item.face}}?{{$index}}" class="face" alt={{item.who}}>
            <div class="md-list-item-text">
              <h3>{{item.what}}</h3>
              <h4>{{item.who}}</h4>
              <p>{{item.notes}}</p>
            </div>
            <PaperDivider @inset={{true}} />
          </PaperItem>
        {{/each}}
      </PaperList>
      {{! END-SNIPPET }}
    </PaperContent>
  </PaperCard>
</DocContent>
