{{page-toolbar pageTitle="Grid List" isDemo=true isWIP=true}}

{{#doc-content}}
  <h2>Basic Usage</h2>
  {{! BEGIN-SNIPPET grid-list.basic-usage }}
  {{#paper-content class="md-whiteframe-z1 grid-list-demo1"}}

    {{#paper-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="2:2"
    md-gutter="12px" md-gutter-gt-sm="8px"}}

      {{#paper-grid-tile class="gray" md-rowspan="3" md-colspan="2" md-colspan-sm="1"}}
        {{#paper-grid-tile-footer}}
            <h3>#1: (3r x 2c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="green"}}
        {{#paper-grid-tile-footer}}
            <h3>#2: (1r x 1c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="yellow"}}
        {{#paper-grid-tile-footer}}
            <h3>#3: (1r x 1c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="blue" md-rowspan="2"}}
        {{#paper-grid-tile-footer}}
            <h3>#4: (2r x 1c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="red" md-rowspan="2" md-colspan="2" md-colspan-sm="1"}}
        {{#paper-grid-tile-footer}}
            <h3>#5: (2r x 2c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

      {{#paper-grid-tile class="green" md-rowspan="2"}}
        {{#paper-grid-tile-footer}}
            <h3>#6: (2r x 1c)</h3>
        {{/paper-grid-tile-footer}}
      {{/paper-grid-tile}}

    {{/paper-grid-list}}

  {{/paper-content}}
  {{ END-SNIPPET }}

  <h3>Template</h3>
  {{code-snippet name="grid-list.basic-usage.hbs"}}

  <h2>Dynamic Tiles</h2>
  {{! BEGIN-SNIPPET grid-list.dynamic-tiles }}
  {{#paper-content class="md-whiteframe-z1 grid-list-demo-dynamicTiles"}}
    {{#paper-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="4:3"
    md-gutter="8px" md-gutter-gt-sm="4px"}}

      {{#each tiles as |tile|}}
        {{#paper-grid-tile md-rowspan=tile.span.row md-colspan=tile.span.col md-colspan-sm="1" class=tile.background}}
          <md-icon></md-icon>
          {{#paper-grid-tile-footer}}
              <h3>{{tile.title}}</h3>
          {{/paper-grid-tile-footer}}
        {{/paper-grid-tile}}
      {{/each}}

    {{/paper-grid-list}}
  {{/paper-content}}
  {{! END-SNIPPET }}

  <h3>Template</h3>
  {{code-snippet name="grid-list.dynamic-tiles.hbs"}}

  <h2>Responsive and Animated Usage</h2>
  {{! BEGIN-SNIPPET grid-list.responsive }}
  {{#paper-content class="md-whiteframe-z1 grid-list-demo-responsiveTiles" layout-padding=''}}

    {{#paper-grid-list md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
      md-row-height-gt-md="1:1" md-row-height="4:3"
      md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px"}}

      {{#each colorTiles as |tile|}}

        {{#paper-grid-tile md-colspan-gt-sm=tile.colspan md-rowspan-gt-sm=tile.rowspan class=tile.style}}
        {{/paper-grid-tile}}

      {{/each}}
    {{/paper-grid-list}}
  {{/paper-content}}
  {{! END-SNIPPET }}

  <h3>Template</h3>
  {{code-snippet name="grid-list.responsive.hbs"}}

{{/doc-content}}
