{{page-toolbar pageTitle="Icons" isDemo=true}}

{{#doc-content}}

  <h2>Available Icons</h2>
  <p>
    See the <a href="https://design.google.com/icons/" rel="noopener" target="_blank">Material Icons page</a> for an overview of
    available icons.
  </p>

  <h2>Usage</h2>

  <h3>Basic Icons</h3>
  <div>
    {{! BEGIN-SNIPPET icons.basic-usage }}
    {{paper-icon "check-circle"}}
    {{! END-SNIPPET }}
  </div>
  {{code-snippet name="icons.basic-usage.hbs"}}

  <h3>Changing Sizes</h3>
  <div class="layout-row">
    {{! BEGIN-SNIPPET icons.sizes }}
    {{paper-icon "check-circle" size=12}}
    {{paper-icon "check-circle" size=18}}
    {{paper-icon "check-circle" size=24}}
    {{paper-icon "check-circle" size=36}}
    {{paper-icon "check-circle" size=48}}
    {{! END-SNIPPET }}
  </div>
  {{code-snippet name="icons.sizes.hbs"}}

  <h3>Spinners</h3>
  <div>
    {{! BEGIN-SNIPPET icons.spinners }}
    {{paper-icon "rotate-right" spin=true}}
    {{paper-icon "rotate-left" reverseSpin=true}}
    {{! END-SNIPPET }}
  </div>
  {{code-snippet name="icons.spinners.hbs"}}
{{/doc-content}}
