{{page-toolbar pageTitle="List Controls" isDemo=true isWIP=true}}

{{#doc-content}}
  <h2>Basic Usage</h2>
  {{! BEGIN-SNIPPET list-controls }}
  {{#paper-content class="md-whiteframe-z1 list-demo list-controls-demo"}}
    {{#paper-list}}
      {{#paper-subheader class="md-no-sticky"}}Single Action Checkboxes{{/paper-subheader}}

      {{#paper-item}}
        <p>Checkbox 1</p>
        {{paper-checkbox class="md-secondary" value=checkboxEnabled1 onChange=(action (mut checkboxEnabled1))}}
      {{/paper-item}}

      {{#paper-item}}
        <p>Checkbox 2</p>
        {{paper-checkbox class="md-secondary" value=checkboxEnabled2 onChange=(action (mut checkboxEnabled2))}}
      {{/paper-item}}

      {{paper-divider}}

      {{#paper-subheader class="md-no-sticky"}}Clickable Items with Secondary Controls{{/paper-subheader}}

      {{#paper-item onClick="transitionToWifiMenu"}}
        {{paper-icon "network_wifi"}}
        <p>Wi-Fi</p>
        {{paper-switch class="md-secondary" value=wifiEnabled onChange=(action (mut wifiEnabled))}}
      {{/paper-item}}

      {{#paper-item onClick="transitionToBluetoothMenu"}}
        {{paper-icon "bluetooth"}}
        <p>Bluetooth</p>
        {{paper-switch class="md-secondary" value=bluetoothEnabled onChange=(action (mut bluetoothEnabled))}}
      {{/paper-item}}

      {{#paper-item onClick="transitionToDataUsage"}}
        {{paper-icon "data_usage"}}
        <p>Data Usage</p>
      {{/paper-item}}

      {{paper-divider}}

      {{#paper-subheader class="md-no-sticky"}}Checkbox with Secondary Action{{/paper-subheader}}

      {{#each messageData as |item|}}
        {{#paper-item}}
          {{#paper-checkbox value=item.checked onChange=(action (mut item.checked))}}{{/paper-checkbox}}
          <p>{{item.message}}</p>
          {{#paper-button class="md-secondary" iconButton=true onClick=(action "secondaryMessageClick" item)}}
            {{paper-icon "message"}}
          {{/paper-button}}
        {{/paper-item}}
      {{/each}}

      {{#paper-divider}}{{/paper-divider}}

      {{#paper-subheader class="md-no-sticky"}}Clickable Avatars{{/paper-subheader}}

      {{#each listData as |item|}}
        {{#paper-item class="md-3-line" onClick=(action "goToPerson" item)}}
            <img src={{item.face}} alt={{item.who}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.what}}</h3>
              <h4>{{item.who}}</h4>
              <p>{{item.notes}}</p>
            </div>
        {{/paper-item}}
      {{/each}}

      {{paper-divider}}

      {{#paper-subheader class="md-no-sticky"}}Avatar with Secondary Action Icon{{/paper-subheader}}

      {{#each listData as |item|}}
        {{#paper-item class="md-3-line" onClick=(action "goToPerson" item)}}
            <img src={{item.face}} alt={{item.who}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.what}}</h3>
              <h4>{{item.who}}</h4>
              <p>{{item.notes}}</p>
            </div>
            {{#paper-button iconButton=true class="md-secondary" onClick=(action "secondaryPersonClick" item)}}
              {{paper-icon "phone"}}
            {{/paper-button}}
        {{/paper-item}}
      {{/each}}

    {{/paper-list}}
  {{/paper-content}}
  {{! END-SNIPPET }}

  <h3>Template</h3>
  {{code-snippet name="list-controls.hbs"}}

{{/doc-content}}
