{{! template-lint-disable no-action no-implicit-this }}
<PageToolbar @pageTitle="List" @isDemo={{true}} />

<DocContent>

  <PaperCard>
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Basic Usage</h2>
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperContent>
      {{! BEGIN-SNIPPET list }}
      <PaperList>
        <PaperSubheader>3 line item</PaperSubheader>
        {{#each listData as |item|}}
          <PaperItem @class="md-3-line">
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <h4>{{item.email}}</h4>
              <p>Some longer notes here could be here. But they aren't.</p>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>2 line item</PaperSubheader>
        {{#each listData as |item|}}
          <PaperItem @class="md-2-line">
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <p>{{item.email}}</p>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>3 line item, long paragraph</PaperSubheader>
        {{#each listData as |item|}}
          <PaperItem @class="md-3-line md-long-text">
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <p>
                Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              </p>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Icons</PaperSubheader>
        {{#each phoneNumbers as |phone|}}
          <PaperItem @class="md-2-line">
            {{paper-icon "phone" class="md-avatar-icon"}}
            <div class="md-list-item-text">
              <h3>{{phone.number}}</h3>
              <p>{{phone.type}}</p>
            </div>
          </PaperItem>
        {{/each}}

      </PaperList>
      {{! END-SNIPPET }}
    </PaperContent>
  </PaperCard>

  <h3>Template</h3>
  <CodeSnippet @name="list.hbs" />

  <PaperCard>
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>List Controls</h2>
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperContent>
      {{! BEGIN-SNIPPET list-controls }}
      <PaperList>

        <PaperSubheader>Single Action Checkboxes</PaperSubheader>
        {{#each toppings as |topping|}}
          <PaperItem as |controls|>
            <p>{{topping.name}}</p>
            <div class="md-secondary-container">
              <controls.checkbox @value={{topping.enabled}} @secondary={{true}} @onChange={{action (mut topping.enabled)}} />
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Secondary Buttons</PaperSubheader>
        <PaperItem as |controls|>
          <p>Clicking the button to the right will fire the secondary action</p>
          <div class="md-secondary-container">
            <controls.button @secondary={{true}} @onClick={{action "transitionTo" "more info"}}>
              More Info
            </controls.button>
          </div>
        </PaperItem>
        <PaperItem @onClick={{action "transitionTo" "primary action"}} as |controls|>
          <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
          <div class="md-secondary-container">
            <controls.button @secondary={{true}} @onClick={{action "transitionTo" "secondary action"}}>
              More Info
            </controls.button>
          </div>
        </PaperItem>

        <PaperDivider />

        <PaperSubheader>Clickable Items with Secondary Controls</PaperSubheader>
        <PaperItem @onClick={{action "transitionToWifiMenu"}} as |controls|>
          {{paper-icon "network-wifi"}}
          <p>Wi-Fi</p>
          <div class="md-secondary-container">
            <controls.switch @secondary={{true}} @value={{wifiEnabled}} @onChange={{action (mut wifiEnabled)}} />
          </div>
        </PaperItem>
        <PaperItem @onClick={{action "transitionToBluetoothMenu"}} as |controls|>
          {{paper-icon "bluetooth"}}
          <p>Bluetooth</p>
          <div class="md-secondary-container">
            <controls.switch @secondary={{true}} @value={{bluetoothEnabled}} @onChange={{action (mut bluetoothEnabled)}} />
          </div>
        </PaperItem>
        <PaperItem @onClick={{action "transitionToDataUsage"}}>
          {{paper-icon "data-usage"}}
          <p>Data Usage</p>
        </PaperItem>

        <PaperDivider />

        <PaperSubheader>Checkbox with Secondary Action</PaperSubheader>
        {{#each messageData as |item|}}
          <PaperItem as |controls|>
            <controls.checkbox @value={{item.checked}} @onChange={{action (mut item.checked)}} />
            <p>{{item.message}}</p>
            <div class="md-secondary-container">
              <controls.button @secondary={{true}} @iconButton={{true}} @onClick={{action "secondaryMessageClick" item}}>
                {{paper-icon "message"}}
              </controls.button>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Avatar with Secondary Action Icon</PaperSubheader>
        {{#each listData as |item|}}
          <PaperItem @onClick={{action "goToPerson" item}} as |controls|>
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <p>{{item.name}}</p>
            <div class="md-secondary-container">
              <controls.checkbox @value={{item.checked}} @onChange={{action (mut item.checked)}} />
              <controls.button @secondary={{true}} @iconButton={{true}} @onClick={{action "secondaryMessageClick" item}}>
                {{paper-icon "email"}}
              </controls.button>
              <controls.button @secondary={{true}} @iconButton={{true}} @onClick={{action "secondaryMessageClick" item}}>
                {{paper-icon "message"}}
              </controls.button>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Clickable Avatars</PaperSubheader>
        {{#each listData as |item|}}
          <PaperItem @class="md-3-line" @onClick={{action "goToPerson" item}}>
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <h4>{{item.email}}</h4>
              <p>Some notes here.</p>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Avatar with Secondary Action Icon</PaperSubheader>
        {{#each listData as |item|}}
          <PaperItem @class="md-3-line" @onClick={{action "goToPerson" item}} as |controls|>
            <img src={{item.img}} alt={{item.name}} class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{item.name}}</h3>
              <h4>{{item.email}}</h4>
              <p>Some notes here.</p>
            </div>
            <controls.button @secondary={{true}} @iconButton={{true}} @onClick={{action "secondaryPersonClick" item}}>
              {{paper-icon "phone"}}
            </controls.button>
          </PaperItem>
        {{/each}}

        <PaperSubheader>Single Action Radios</PaperSubheader>
        {{#each toppings as |topping|}}
          <PaperItem as |controls|>
            <p>{{topping.name}}</p>
            <div class="md-secondary-container">
              <controls.radio @groupValue={{radioSelectedTopping}} @value={{topping}} @secondary={{true}} @onChange={{action (mut radioSelectedTopping)}} />
            </div>
          </PaperItem>
        {{/each}}

      </PaperList>
      {{! END-SNIPPET }}
    </PaperContent>
  </PaperCard>

  <h3>Template</h3>
  <CodeSnippet @name="list-controls.hbs" />

</DocContent>



