{{page-toolbar pageTitle="List" isDemo=true isWIP=true}}

{{#paper-content class="md-padding"}}
<div class="doc-content">
  <h3>Basic Usage</h3>
  {{#paper-content class="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}
      {{#each listData as |item|}}
        {{#paper-item class="md-3-line"}}
            <img src={{item.face}} alt={{item.who}} class="md-avatar">
            <div class="md-list-item-text">

                <h3>{{item.what}}</h3>
                <h4>{{item.who}}</h4>
                <p>
                  {{item.notes}}
                </p>
            </div>
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}

  <h4>Template</h4>
{{#code-block language='handlebars'}}
\{{#paper-content class="md-whiteframe-z1 list-demo"}}
  \{{#paper-list}}
    \{{#each listData as |item|}}
      \{{#paper-item class="md-3-line"}}
        &lt;img src=\{{item.face}} alt=\{{item.who}} class=&quot;md-avatar&quot;&gt;
        &lt;div class="md-list-item-text"&gt;
          &lt;h3&gt;\{{item.what}}&lt;/h3&gt;
          &lt;h4&gt;\{{item.who}}&lt;/h4&gt;
          &lt;p&gt;
            \{{item.notes}}
          &lt;/p&gt;
        &lt;/div&gt;
      \{{/paper-item}}
    \{{/each}}
  \{{/paper-list}}
\{{/paper-content}}{{/code-block}}

</div>
{{/paper-content}}



