{{page-toolbar pageTitle="Progress Circular" isDemo=true}}

{{#doc-content}}
  <h2>Basic Usage</h2>
  <h3>Determinate</h3>
  <p>For operations where the percentage of the operation completed can be determined, use a determinate indicator. They give users a quick sense of how long an operation will take.</p>
  <div layout="row" layout-sm="column" layout-align="space-around">
    {{! BEGIN-SNIPPET progress-circular.determinate }}
    {{paper-progress-circular value=determinateValue}}
    {{! END-SNIPPET }}
  </div>
  {{code-snippet name="progress-circular.determinate.hbs"}}

  <h3>Indeterminate</h3>
  <p>For operations where the user is asked to wait a moment while something finishes up, and it’s not necessary to expose what's happening behind the scenes and how long it will take, use an indeterminate indicator.</p>
  <div layout="row" layout-sm="column" layout-align="space-around">
    {{! BEGIN-SNIPPET progress-circular.indeterminate }}
    {{paper-progress-circular}}
    {{! END-SNIPPET }}
  </div>
  {{code-snippet name="progress-circular.indeterminate.hbs"}}

  <h3>Theming</h3>

  <div layout="row" layout-sm="column" layout-align="space-around center">
    {{! BEGIN-SNIPPET progress-circular.theming }}
    {{paper-progress-circular class="md-hue-2" diameter="25%"}}
    {{paper-progress-circular accent=true diameter=40}}
    {{paper-progress-circular accent=true class="md-hue-1" diameter=60}}
    {{paper-progress-circular warn=true class="md-hue-3" diameter=70}}
    {{paper-progress-circular warn=true diameter=96}}
    {{! END-SNIPPET }}
  </div>
  {{code-snippet name="progress-circular.theming.hbs"}}

{{/doc-content}}
