{{page-toolbar pageTitle="Radio" isDemo=true}}

{{#doc-content}}
  <div layout layout-sm="column">
    {{! BEGIN-SNIPPET radio.basic-usage }}
    <div flex>{{#paper-radio onChange=(action "foo")}}A radio button{{/paper-radio}}</div>
    <div flex>{{#paper-radio toggle=true value="123" groupValue=toggleValue onChange=(action (mut toggleValue))}}Toggable radio button{{/paper-radio}}</div>
    <div flex>{{#paper-radio disabled=true onChange=(action "foo")}}Disabled radio button{{/paper-radio}}</div>
    {{! END-SNIPPET }}
  </div>

  {{code-snippet name="radio.basic-usage.hbs"}}

  <h2>Radio Button Group</h2>
  {{! BEGIN-SNIPPET radio.group }}
  {{#paper-radio-group groupValue=groupValue onChange=(action (mut groupValue)) as |group|}}
    {{#group.radio value="1" primary=true}}
      Radio button 1
    {{/group.radio}}
    {{#group.radio value="2" warn=true}}
      Radio button 2
    {{/group.radio}}
    {{#group.radio value="3"}}
      Radio button 3
    {{/group.radio}}
  {{/paper-radio-group}}

  <p>Selected value: {{groupValue}}</p>

  <p>{{paper-radio toggle=true label="Blockless version" onChange=(action "foo")}}</p>
  {{! END-SNIPPET }}

  <h3>Template</h3>
  {{code-snippet name="radio.group.hbs"}}

  <h3>Radio Button w/ Images</h3>
  {{! BEGIN-SNIPPET radio.images }}
  {{#paper-radio-group groupValue=groupValue2 onChange=(action (mut groupValue2)) as |group|}}
    {{#group.radio value="image1" primary=true}}
      <img src="http://diagramcenter.org/wp-content/uploads/2016/03/image.png">
    {{/group.radio}}
    {{#group.radio value="image2" warn=true}}
      <img src="http://www.coffeecup.com/images/software/icons/image-mapper_5.0_win_en.png">
    {{/group.radio}}
    {{#group.radio value="image3"}}
      <img src="http://a2.mzstatic.com/us/r30/Purple69/v4/d3/3c/13/d33c13c4-2cdd-0ef7-13f3-e3097607f2da/icon128.png">
    {{/group.radio}}
  {{/paper-radio-group}}
{{! END-SNIPPET }}

  <h3>Template</h3>
  {{code-snippet name="radio.images.hbs"}}

{{/doc-content}}
