{{page-toolbar pageTitle="Select" isDemo=true}}

{{#doc-content}}
  <h2>Basic Usage</h2>

  <p>Enter an address</p>
  <div class="layout-row">
    {{! BEGIN-SNIPPET select.basic-usage }}
    {{paper-input label="Street Name" value=street onChange=(action (mut street))}}
    {{paper-input label="City" value=city onChange=(action (mut city))}}
    {{#paper-select
      disabled=disableSelect
      label="State"
      options=states
      selected=userState
      onChange=(action (mut userState))
      as |state|}}
      {{state.abbrev}}
    {{/paper-select}}
    {{! END-SNIPPET }}
  </div>

  <p>
    {{paper-checkbox label="Disable select" value=disableSelect onChange=(action (mut disableSelect))}}
  </p>
  <h3>Template</h3>
  {{code-snippet name="select.basic-usage.hbs"}}
  <p>Paper select is based on Ember power select, advanced documentation can be found <a href="https://ember-power-select.com/docs">here</a>.</p>
  {{#paper-api
      (p-section
        (p-row "disabled" "boolean" "Should the select field be disabled? Default is `false`.")
        (p-row "label" "string" "Field label. Same as paper-input.")
        (p-row "options" "array" "List of selectable options.")
        (p-row "selected" "object" "Value of selected option.")
      )
        title="Select Helpers"
  }}
  {{/paper-api}}

  <h2>Option groups</h2>

  <p>Pick your pizza below</p>
  <div class="layout-row">
    {{! BEGIN-SNIPPET select.option-groups }}
    {{#paper-select options=sizes label="Size" required=true selected=pizzaSize onChange=(action (mut pizzaSize)) as |size|}}
      {{size}}
    {{/paper-select}}
    {{#paper-select options=groupedToppings label="Topping" selected=topping onChange=(action (mut topping)) as |topping|}}
      {{topping}}
    {{/paper-select}}
    {{! END-SNIPPET }}
  </div>

  <h3>Template</h3>
  {{code-snippet name="select.option-groups.hbs"}}

  <h2>Options with async search</h2>

  <div class="layout-column layout-align-center-center">
    <p>
      Select will correctly resolve any promise you pass to the <code>options</code> property.
    </p>
    <div class="layout-column layout-align-center-center" style="height: 130px;">
      {{! BEGIN-SNIPPET select.async-search }}
      {{#paper-select
        placeholder="Assign to a user"
        selected=selectedUser
        options=users
        onChange=(action (mut selectedUser))
        as |user|}}
        {{user.name}}
      {{/paper-select}}

      {{#if selectedUser}}
        <p>You have selected the user <code>{{selectedUser.name}}</code></p>
      {{/if}}
      {{! END-SNIPPET }}
    </div>
  </div>
  <h3>Template</h3>
  {{code-snippet name="select.async-search.hbs"}}


  <h2>Select with Search</h2>
  <p>Paper select can include a paper-input field at the top of the dropdown which acts as a live filter for the paper-select options. For additional documentation on search, please refer to the power-select docs <a href="https://ember-power-select.com/docs/the-search">here</a>.</p>
  <div class="layout-column layout-align-center-center">
    <div class="layout-column layout-align-center-center" style="height: 130px;">
      {{! BEGIN-SNIPPET select.select-header }}
      {{#paper-select
        placeholder="Vegetable"
        selected=selectedVegetable
        options=vegetables
        searchField="name"
        searchPlaceholder="Search for a vegetable.."
        searchEnabled=true
        onChange=(action (mut selectedVegetable))
        as |vegetable|
      }}
        {{vegetable.name}}
      {{/paper-select}}

      {{! END-SNIPPET }}
    </div>
  </div>

  <h3>Template</h3>

  {{code-snippet name="select.select-header.hbs"}}

  {{#paper-api
      (p-section
        (p-row "searchField" "string" "Field name of provided options which search filter should compare against.")
        (p-row "searchPlaceholder" "string" "Placeholder for paper-input which is displayed at top of paper-select dropdown.")
        (p-row "searchEnabled" "boolean" "Enable paper-select to be searchable. Default is false.")
      )
        title="Select Search Helpers"
  }}
  {{/paper-api}}
{{/doc-content}}
