{{page-toolbar pageTitle="Sidenav" isDemo=true}}

{{#doc-content}}

{{#paper-card}}
  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      <h2>Basic Usage</h2>
      <span class="flex"></span>
      {{!--{{#paper-button onClick=(action "toggleSourceCode") iconButton=true}}
        {{paper-icon icon="code"}}
      {{/paper-button}}--}}
    </div>
  {{/paper-toolbar}}

  <div class="doc-code-example {{if showSourceCode 'is-visible'}}">
    {{!--{{code-snippet name="dialog.hbs"}}--}}
  </div>

  <div class="doc-content-example">
    {{#paper-sidenav-container}}
      {{#paper-card-content}}
        <div style="height: 500px">

          {{#paper-sidenav class="md-whiteframe-z2"
            name="left" open=leftSideBarOpen
            onToggle=(action (mut leftSideBarOpen))}}
            {{#paper-toolbar as |toolbar|}}
              {{#paper-toolbar-tools}}Left Sidenav{{/paper-toolbar-tools}}
            {{/paper-toolbar}}
            {{#paper-content}}
              Çup?
            {{/paper-content}}
          {{/paper-sidenav}}

          {{#paper-sidenav-toggle name="left"}}
            çup?
          {{/paper-sidenav-toggle}}

        </div>
      {{/paper-card-content}}
    {{/paper-sidenav-container}}

  </div>

{{/paper-card}}

  <h2>Demo</h2>
  <p>Try to resize this webpage.</p>

  <h2>Sidenav attributes</h2>

  <p>
    <strong>lockedOpen:</strong> You can chose when the sidenav should stay open, based on the screen size.<br>
    Available sizes are: <code>sm, gt-sm, md, gt-md, lg, gt-lg</code>
  </p>

  <p>
    <strong>closeOnClick:</strong> An override for the sidenav closing if you click on the sidebar itself. Mainly
    for use-cases where you have forms or something similar in the sidenav.<br>
    Defaults to <code>true</code>.
  </p>

  <p>
    <strong>Note:</strong> The following Sidenav example contains a <code>transition-to</code> helper via the <a href="https://github.com/peec/ember-transition-helper">ember-transition-helper</a> addon, which is not installed by default.
  </p>

  <h3>Template</h3>
  {{code-snippet name="sidenav.hbs"}}

{{/doc-content}}
