{{! template-lint-disable no-action no-curly-component-invocation no-implicit-this }}
<PageToolbar @pageTitle="Switch" @isDemo={{true}} />

<DocContent>
  <p>
    {{! BEGIN-SNIPPET switch }}
    <PaperSwitch @value={{booleanProp1}} @onChange={{action (mut booleanProp1)}}>
      {{booleanProp1}}
    </PaperSwitch>

    <PaperSwitch @value={{booleanProp2}} @onChange={{action (mut booleanProp2)}}>
      {{booleanProp2}}
    </PaperSwitch>

    <PaperSwitch @value={{booleanProp3}} @onChange={{action "changeBooleanProp" "3"}} @disabled={{true}}>
      Disabled switch
    </PaperSwitch>

    <PaperSwitch @value={{booleanProp4}} @onChange={{action "changeBooleanProp" "4"}} @noink={{true}}>
      Noink switch
    </PaperSwitch>

    <PaperSwitch @label="Blockless version" @value={{booleanProp5}} @onChange={{action "changeBooleanProp" "5"}} />
    {{! END-SNIPPET }}
  </p>
  <h3>Template</h3>
  <CodeSnippet @name="switch.hbs" />
</DocContent>
