{{! template-lint-disable no-action no-curly-component-invocation }}
<PageToolbar @pageTitle="Switch" @isDemo={{true}} />

<DocContent>
  <p>
    {{! BEGIN-SNIPPET switch }}
    <PaperSwitch @value={{this.booleanProp1}} @onChange={{action (mut this.booleanProp1)}}>
      {{this.booleanProp1}}
    </PaperSwitch>

    <PaperSwitch @value={{this.booleanProp2}} @onChange={{action (mut this.booleanProp2)}}>
      {{this.booleanProp2}}
    </PaperSwitch>

    <PaperSwitch @value={{this.booleanProp3}} @onChange={{action "changeBooleanProp" "3"}} @disabled={{true}}>
      Disabled switch
    </PaperSwitch>

    <PaperSwitch @value={{this.booleanProp4}} @onChange={{action "changeBooleanProp" "4"}} @noink={{true}}>
      Noink switch
    </PaperSwitch>

    <PaperSwitch @label="Blockless version" @value={{this.booleanProp5}} @onChange={{action "changeBooleanProp" "5"}} />
    {{! END-SNIPPET }}
  </p>
  <h3>Template</h3>
  <CodeSnippet @name="switch.hbs" />
</DocContent>
