{{page-toolbar pageTitle="Tabs" isDemo=true}}

{{#doc-content}}
  {{#paper-card}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Basic Usage</h2>
        <span class="flex"></span>
        {{#paper-button onClick=(action "toggleSourceCode" "tabs-basic") iconButton=true}}
          {{paper-icon icon="code"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    <div class="doc-code-example {{if showTabsBasic 'is-visible'}}">
      {{code-snippet name="tabs-basic.hbs"}}
    </div>

    {{! BEGIN-SNIPPET tabs-basic }}
    {{#paper-tabs as |tabs|}}
      {{#tabs.tab label="tab one" as |tab|}}
        {{#paper-content class="md-padding"}}
          <h1>Tab One</h1>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet.</p>
        {{/paper-content}}
      {{/tabs.tab}}
      {{#tabs.tab label="tab two" as |tab|}}
        {{#paper-content class="md-padding"}}
          <h1>Tab Two</h1>
          <p>Lorem ipsum dolor sit amet.</p>
        {{/paper-content}}
      {{/tabs.tab}}
      {{#tabs.tab label="tab three" as |tab|}}
        {{#paper-content class="md-padding"}}
          <h1>Tab Three</h1>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet.</p>
        {{/paper-content}}
      {{/tabs.tab}}
      {{#tabs.tab label="Disabled tab" disabled=true as |tab|}}
      {{/tabs.tab}}
    {{/paper-tabs}}
    {{! END-SNIPPET }}
  {{/paper-card}}

  {{#paper-card}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Tabs with dynamic height</h2>
        <span class="flex"></span>
        {{#paper-button onClick=(action "toggleSourceCode" "tabsDynamic") iconButton=true}}
          {{paper-icon icon="code"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    <div class="doc-code-example {{if showTabsDynamic 'is-visible'}}">
      {{code-snippet name="tabs-dynamic.hbs"}}
    </div>

    {{! BEGIN-SNIPPET tabs-bottom }}
    {{#paper-tabs dynamicHeight=true as |tabs|}}
      {{#tabs.tab label="tab one" as |tab|}}
        {{#paper-content class="md-padding"}}
          <h1>Tab One</h1>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet.</p>
        {{/paper-content}}
      {{/tabs.tab}}
      {{#tabs.tab label="tab two" as |tab|}}
        {{#paper-content class="md-padding"}}
          <h1>Tab Two</h1>
          <p>Lorem ipsum dolor sit amet.</p>
        {{/paper-content}}
      {{/tabs.tab}}
      {{#tabs.tab label="tab three" as |tab|}}
        {{#paper-content class="md-padding"}}
          <h1>Tab Three</h1>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet.</p>
        {{/paper-content}}
      {{/tabs.tab}}
    {{/paper-tabs}}
  {{! END-SNIPPET }}
  {{/paper-card}}

  {{#paper-card}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Bottom aligned tabs</h2>
        <span class="flex"></span>
        {{#paper-button onClick=(action "toggleSourceCode" "tabsBottom") iconButton=true}}
          {{paper-icon icon="code"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    <div class="doc-code-example {{if showTabsBottom 'is-visible'}}">
      {{code-snippet name="tabs-bottom.hbs"}}
    </div>

    {{! BEGIN-SNIPPET tabs-bottom }}
    {{#paper-tabs alignTabs="bottom" dynamicHeight=true as |tabs|}}
      {{#tabs.tab label="tab one" as |tab|}}
        {{#paper-content class="md-padding"}}
          <h1>Tab One</h1>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet.</p>
        {{/paper-content}}
      {{/tabs.tab}}
      {{#tabs.tab label="tab two" as |tab|}}
        {{#paper-content class="md-padding"}}
          <h1>Tab Two</h1>
          <p>Lorem ipsum dolor sit amet.</p>
        {{/paper-content}}
      {{/tabs.tab}}
      {{#tabs.tab label="tab three" as |tab|}}
        {{#paper-content class="md-padding"}}
          <h1>Tab Three</h1>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit amet.</p>
        {{/paper-content}}
      {{/tabs.tab}}
    {{/paper-tabs}}
  {{! END-SNIPPET }}
  {{/paper-card}}

  {{#paper-card}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Paginated tabs</h2>
        <span class="flex"></span>
        {{#paper-button onClick=(action "toggleSourceCode" "tabsPaginated") iconButton=true}}
          {{paper-icon icon="code"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    <div class="doc-code-example {{if showTabsPaginated 'is-visible'}}">
      {{code-snippet name="tabs-paginated.hbs"}}
    </div>

    {{! BEGIN-SNIPPET tabs-paginated }}
    {{#paper-tabs alignTabs="bottom" dynamicHeight=true as |tabs|}}
      {{#each paginatedTabs as |label|}}
        {{#tabs.tab label=label as |tab|}}
        {{/tabs.tab}}
      {{/each}}
    {{/paper-tabs}}
  {{! END-SNIPPET }}
  {{/paper-card}}

  {{paper-api
    (p-section
      (p-row "dynamicHeight" "boolean" "Sets the paper-tabs height to the active tab's height. Defaults to 'false'.")
      (p-row "alignTabs" "`top` | `bottom`" "Sets tabs position. Defaults to 'top'.")
      (p-row "noInk" "boolean" "Defaults to 'false'.")
      (p-row "noInkBar" "boolean" "Defaults to 'false'.")
      (p-row "centerTabs" "boolean" "Defaults to 'false'.")
      (p-row "stretchTabs" "`always` | `never` | `auto`" "Defaults to 'auto'.")
      (p-row "autoSelect" "boolean" "Automatically open newly added tab. Defaults to 'false'.")
    )
  }}

{{/doc-content}}
