{{page-toolbar pageTitle="Tabs" isDemo=true}}

{{#doc-content class="tabs-demo"}}

  <div class="md-padding">
    {{#paper-card class="navBardemoBasicUsage"}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Basic Usage</h2>
          <span class="flex"></span>
          {{#paper-button onClick=(action "toggle" "showBasicUsageSourceCode") iconButton=true}}
            {{paper-icon icon="code"}}
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      <div class="doc-code-example {{if showBasicUsageSourceCode 'is-visible'}}">
        {{code-snippet name="basic-usage.hbs"}}
      </div>

      <div class="doc-content-example">
        {{#paper-content}}
          {{! BEGIN-SNIPPET basic-usage}}
          {{#paper-tabs
            borderBottom=true
            selected=selectedNavItem
            onChange=(action (mut selectedNavItem)) as |tabs|}}
            {{#tabs.tab name=1}}
              Page One
            {{/tabs.tab}}
            {{#tabs.tab name=2}}
              Page Two
            {{/tabs.tab}}
            {{#tabs.tab name=3}}
              Page Three
            {{/tabs.tab}}
            {{#tabs.tab name=4}}
              Page Three
            {{/tabs.tab}}
            {{#tabs.tab name=5}}
              Page Three
            {{/tabs.tab}}
          {{/paper-tabs}}

          {{#liquid-bind selectedNavItem class="md-padding" as |current|}}
            <h1 class="md-display-2">Tab {{current}}</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
              vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices.
              Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
            </p>
          {{/liquid-bind}}
          {{! END-SNIPPET }}

          <div class="md-padding">
            <em><b>Note:</b> transitions were implemented using liquid-fire.</em>
          </div>
        {{/paper-content}}
      </div>
    {{/paper-card}}
  </div>

  <div class="md-padding">
    {{#paper-card}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Routable Usage</h2>
          <span class="flex"></span>
          {{#paper-button onClick=(action "toggle" "showRoutableUsageSourceCode") iconButton=true}}
            {{paper-icon icon="code"}}
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      <div class="doc-code-example {{if showRoutableUsageSourceCode 'is-visible'}}">
        {{code-snippet name="routable-usage.hbs"}}
      </div>

      <div class="doc-content-example">
        {{#paper-content}}
          {{! BEGIN-SNIPPET routable-usage}}
          {{#paper-tabs borderBottom=true as |tabs|}}
            {{#tabs.tab name="page-one" href=(href-to "demo.tabs.index")}}
              Index
            {{/tabs.tab}}
            {{#tabs.tab name="page-two" href=(href-to "demo.tabs.nested-route")}}
              Nested Route
            {{/tabs.tab}}
          {{/paper-tabs}}

          {{liquid-outlet class="md-padding"}}
          {{! END-SNIPPET }}

          <div class="md-padding">
            <em><b>Note:</b> transitions were implemented using liquid-fire.</em>
          </div>
        {{/paper-content}}
      </div>
    {{/paper-card}}
  </div>

  <div class="md-padding">
    {{paper-api
      (p-section
        (p-row "selected" "string" "Name of the active tab.")
        (p-row "onChange" "action" "An action triggered when the active tab changes.")
        (p-row "accent" "boolean" "Pass `false` to enable accent color on tab.")
        (p-row "primary" "boolean" "Pass `false` to enable primary color on tab.")
      )
      (p-section
        "`tabs.tab` API"
        (p-row "name" "string" "Name of the tab. To activate the tab, `selectedNavItem` needs to have this value.")
        (p-row "disabled" "boolean" "Pass `true` to disable the tab button.")
        (p-row "href" "string" "You can pass an href to the tab button to render a link. Hint: use `ember-href-to` to generate route urls.")
        (p-row "onClick" "action" "An action triggered when the tab button is clicked.")
      ) title="API Usage"
    }}
  </div>

{{/doc-content}}
