<PaperContent @scroll-y={{true}} @padding={{true}} @class="layout-padding flex">
  <div class="layout-row layout-align-center-center">
    {{! BEGIN-SNIPPET button.basic }}
    <PaperButton @onClick={{this.click}}>Button with action</PaperButton>
    <PaperButton @noink={{true}} @primary={{true}}>Primary (noink)</PaperButton>
    <PaperButton @disabled={{true}}>disabled</PaperButton>
    <PaperButton @warn={{true}}>warn</PaperButton>
    <PaperButton @accent={{true}}>accent</PaperButton>
    <PaperButton @href="http://emberjs.com/images/tomsters/original.png" @target="_blank">href link</PaperButton>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "button.basic.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

  <div class="layout-row layout-align-center-center">
    {{! BEGIN-SNIPPET button.raised }}
    <PaperButton @raised={{true}} @onClick={{this.click}}>Button with action</PaperButton>
    <PaperButton @raised={{true}} @primary={{true}}>Primary</PaperButton>
    <PaperButton @raised={{true}} @disabled={{true}}>disabled</PaperButton>
    <PaperButton @raised={{true}} @warn={{true}}>warn</PaperButton>
    <PaperButton @raised={{true}} @accent={{true}}>accent</PaperButton>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "button.raised.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

  <div class="layout-row layout-align-center-center">
    {{! BEGIN-SNIPPET button.target }}
    <PaperButton @raised={{true}} @onClick={{this.click}}>Button with target</PaperButton>
    <PaperButton @raised={{true}} @primary={{true}} @onClick={{this.click}}>Button with bubble</PaperButton>
    <PaperButton @raised={{true}} @primary={{true}} @onClick={{this.click}} @bubbles={{false}}>Button no bubble</PaperButton>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "button.target.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

  <div class="layout-row layout-align-center-center">
    {{! BEGIN-SNIPPET button.fab }}
    <PaperButton @raised={{true}} @fab={{true}}>Fab</PaperButton>
    <PaperButton @raised={{true}} @fab={{true}} @accent={{true}}>Fab</PaperButton>
    <PaperButton @raised={{true}} @mini={{true}}>Mini</PaperButton>
    <PaperButton @raised={{true}} @mini={{true}} @primary={{true}}>Mini</PaperButton>
    <PaperButton @iconButton={{true}}>{{paper-icon "accessibility"}}</PaperButton>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "button.fab.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

  <div class="layout-column layout-align-center-center">
    {{paper-api
      (p-section
        (p-row "onClick" "closure" "Action sent when the button is clicked.")
        (p-row "type" "string" "Sets the html5 `type` attribute. Defaults to `\"button\"`, except for `<a>` link buttons.")
        (p-row "bubbles" "boolean" "Determines whether the Ember click event handler bubbles. Default is `undefined`, which bubbles.")
        (p-row "disabled" "boolean" "Whether the button is displayed as disabled and does not accept clicks.")
      )
      (p-section
        "Link buttons"
        (p-row "href" "string" "Displays the button as an `<a>` link to the specified destination URL.")
        (p-row "target" "string" "Sets the `<a>` link target attribute, such as `\"_blank\"`.")
      )
      (p-section
        "Appearance"
        (p-row "fab" "boolean" "Display as a Floating Action Button.")
        (p-row "iconButton" "boolean" "Set when the contents contains an icon and adjusts CSS appropriately.")
        (p-row "label" "string" "Set the content of the button when used as a blockless component.")
        (p-row "mini" "boolean" "Display as a mini-sized button. Implies `fab`, unless `fab` is explicity set falsy.")
        (p-row "noInk" "boolean" "Suppresses the ripple effect when clicked.")
        (p-row "primary" "boolean" "Display as the primary button, more prominent that other buttons.")
        (p-row "raised" "boolean" "Display button with a 3-D effect.")
      )
      "color"
    }}
  </div>

</PaperContent>
