<Doc>
  <h1 class="header">Divider</h1>

  <h2 class="header">Full</h2>
  <div class="layout-column layout-align-center-center">
    {{! BEGIN-SNIPPET divider.full }}
    <PaperList>
      {{#each messages as |item|}}
        <PaperItem @class="md-3-line">
          <div class="md-list-item-text">
            <h3>{{item.what}}</h3>
            <h4>{{item.who}}</h4>
            <p>{{item.notes}}</p>
          </div>
          <PaperDivider />
          <PaperButton>Respond</PaperButton>
        </PaperItem>
      {{/each}}
    </PaperList>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "divider.full.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

  <h2 class="header">Inset</h2>
  <div class="layout-column layout-align-center-center">
    {{! BEGIN-SNIPPET divider.inset }}
    <PaperList @classNames="list-demo">
      {{#each messages as |item|}}
        <PaperItem @class="md-3-line">
          <img src="{{item.face}}?{{$index}}" class="face" alt={{item.who}}>
          <div class="md-list-item-text">
            <h3>{{item.what}}</h3>
            <h4>{{item.who}}</h4>
            <p>{{item.notes}}</p>
          </div>
          <PaperDivider @inset={{true}} />
        </PaperItem>
      {{/each}}
    </PaperList>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "divider.inset.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

</Doc>
