<Doc>
  <h1 class="header">Switch</h1>

  <h2 class="header">Basic Usage</h2>
  <div class="layout-column layout-align-center-center">
    {{! BEGIN-SNIPPET switch.basic-usage }}
    <PaperSwitch @value={{booleanProp1}} @onChange={{action (mut booleanProp1)}}>
      {{booleanProp1}}
    </PaperSwitch>

    <PaperSwitch @value={{booleanProp2}} @onChange={{action (mut booleanProp2)}}>
      {{booleanProp2}}
    </PaperSwitch>

    <PaperSwitch @value={{booleanProp3}} @onChange={{action "changeBooleanProp" "3"}} @disabled={{true}}>
      Disabled switch
    </PaperSwitch>

    <PaperSwitch @value={{booleanProp4}} @onChange={{action "changeBooleanProp" "4"}} @noink={{true}}>
      Noink switch
    </PaperSwitch>

    <PaperSwitch @label="Blockless version" @value={{booleanProp5}} @onChange={{action "changeBooleanProp" "5"}} />
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "switch.basic-usage.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

  <h1 class="header">Checkbox</h1>

  <h2 class="header">Basic Usage</h2>
  <div class="layout-column layout-align-center-center">
    {{! BEGIN-SNIPPET checkbox.basic-usage }}
    <PaperCheckbox @value={{value1}} @onChange={{action (mut value1)}}>
      A checkbox: {{value1}}
    </PaperCheckbox>

    <PaperCheckbox @value={{value2}} @onChange={{action (mut value2)}}>
      A checkbox: {{if value2 "yep" "nope"}}
    </PaperCheckbox>

    <PaperCheckbox @value={{value3}} @onChange={{action (mut value3)}} @disabled={{true}}>
      Checkbox (disabled)
    </PaperCheckbox>

    <PaperCheckbox @value={{true}} @onChange={{action (mut value4)}} @disabled={{true}}>
      Checkbox (disabled and value)
    </PaperCheckbox>

    <PaperCheckbox @value={{value5}} @onChange={{action (mut value5)}} @noink={{true}}>
      Checkbox (no ink)
    </PaperCheckbox>

    <PaperCheckbox @label="Blockless version" @value={{value6}} @onChange={{action "toggleValue6"}} />

    <PaperCheckbox @indeterminate={{isIndeterminate}} @value={{value7}} @onChange={{action (mut value7)}}>
      Indeterminate checkbox
    </PaperCheckbox>

    <PaperCheckbox @disabled={{true}} @indeterminate={{isIndeterminate}} @value={{value7}} @onChange={{null}}>
      Indeterminate checkbox (disabled)
    </PaperCheckbox>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "checkbox.basic-usage.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

  <h1 class="header"> Radio </h1>

  <h2 class="header">Basic Usage</h2>
  <div class="layout-column layout-align-center-center">
    {{! BEGIN-SNIPPET radio.basic-usage }}
    <PaperRadio @toggle={{true}} @value="Toggable" @groupValue={{toggleValue}} @onChange={{action (mut toggleValue)}}>
      Toggable
    </PaperRadio>
    <PaperRadio @label="Blockless" @toggle={{true}} @value="Blockless" @groupValue={{blocklessValue}} @onChange={{action (mut blocklessValue)}} />
    <PaperRadio @value={{false}} @disabled={{true}} @onChange={{null}}>
      Disabled
    </PaperRadio>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "radio.basic-usage.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

  <h2 class="header">Group Usage</h2>
  <div class="layout-column layout-align-center-center">
    <p>
      Selected Value: <span class="radio-value">{{selectedFruit}}</span>
    </p>

    {{! BEGIN-SNIPPET radio.group-usage}}
    <PaperRadioGroup @groupValue={{readonly selectedFruit}} @onChange={{action (mut selectedFruit)}} as |group|>
      <group.radio @value="Apple" @primary={{true}}> Apple </group.radio>
      <group.radio @value="Banana" @warn={{true}}> Banana </group.radio>
      <group.radio @value="Mango"> Mango </group.radio>
    </PaperRadioGroup>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "radio.group-usage.hbs") as |snippet|}}
    <CodeBlock @language="markup">
{{snippet.source}}
    </CodeBlock>
  {{/let}}

  <h2 class="header">Template</h2>
  <div class="layout-column layout-align-center-center">
    {{! BEGIN-SNIPPET radio.template}}
    <PaperRadioGroup @groupValue={{selectedComponent}} @onChange={{action (mut selectedComponent)}} as |group|>

      <group.label>
        <p>Selected Component: <span class="radio-value">{{selectedComponent}}</span></p>
      </group.label>

      <group.radio @value="Card" @primary={{true}}>
        {{paper-icon "view_carousel"}}
      </group.radio>

      <group.radio @value="Chips" @warn={{true}}>
        {{paper-icon "label" }}
      </group.radio>

      <group.radio @value="Dialog">
        {{paper-icon "call"}}
      </group.radio>

    </PaperRadioGroup>
    {{! END-SNIPPET }}
  </div>

  {{#let (get-code-snippet "radio.template.hbs") as |snippet|}}
    <CodeBlock @language="markup">
  {{snippet.source}}
    </CodeBlock>
  {{/let}}
</Doc>
