<md-card-title-media ...attributes>
  {{#if (has-block)}}
    <div class="md-media-{{this.size}}">
      {{yield}}
    </div>
  {{else}}
    <img class="md-media-{{this.size}}" src={{@src}} alt={{@alt}} title={{@title}}>
  {{/if}}
</md-card-title-media>