<md-progress-linear md-mode={{this.mode}} md-buffer-value={{this.bufferValue}} class="md-default-theme {{if this.warn "md-warn"}} {{if this.accent "md-accent"}} {{if this.primary "md-primary"}}" ...attributes>
  {{! template-lint-disable no-implicit-this }}
  <div class="md-container {{this.queryModeClass}}">
    <div class="md-dashed"></div>
    <div class="md-bar md-bar1" style={{this.bar1Style}}></div>
    <div class="md-bar md-bar2" style={{this.bar2Style}}></div>
  </div>
</md-progress-linear>