{{#if this.renderTooltip}}
  {{#in-element this.destinationEl insertBefore=null}}
    <div class="md-panel-outer-wrapper md-panel-is-showing" style={{this.containerStyle}}>
      <PaperTooltipInner @class={{@class}} @position={{this.position}} @anchorElement={{this.anchorElement}} @hide={{this.hideTooltip}} ...attributes>
        {{yield}}
      </PaperTooltipInner>
    </div>
  {{/in-element}}
{{/if}}
