{{! template-lint-disable no-invalid-interactive }}
<md-chips class="md-default-theme {{@class}}" ...attributes>

  <md-chips-wrap
    class="md-chips {{if (and (not @readOnly) this.isFocused) "md-focused"}} {{if @readOnly "md-readonly" "md-removable"}}"
    tabindex="-1"
    {{on "focusin" this.handleFocusIn}}
    {{on "focusout" this.handleFocusOut}}
    {{on "click" this.handleClick}}
    {{on "keydown" this.handleKeydown}}>

    {{#each @content as |item index|}}
      <md-chip
        class="md-chip md-default-theme {{if @readOnly "md-readonly"}} {{if (eq this.activeChip index) "md-focused"}}"
        {{on "click" (fn this.handleChipClick index)}}>

        <div class="md-chip-content" tabindex="-1" aria-hidden="true">
          {{#if hasBlock}}
            {{yield item "chip"}}
          {{else}}
            <span>{{item}}</span>
          {{/if}}
        </div>

        <div class="md-chip-remove-container">
        </div>

      </md-chip>
    {{/each}}

  </md-chips-wrap>

</md-chips>