{{! template-lint-disable no-invalid-interactive }}
<md-chips class="md-default-theme {{@class}}" ...attributes>

  <md-chips-wrap
    class="md-chips {{if (and (not @readOnly) this.isFocused) "md-focused"}} {{if @readOnly "md-readonly" "md-removable"}}"
    tabindex="-1"
    {{on "focusin" this.handleFocusIn}}
    {{on "focusout" this.handleFocusOut}}
    {{on "click" this.handleClick}}
    {{on "keydown" this.handleKeydown}}>

    {{#each @content as |item index|}}
      <md-chip
        class="md-chip md-default-theme {{if @readOnly "md-readonly"}} {{if (eq this.activeChip index) "md-focused"}}"
        {{on "click" (fn this.handleChipClick index)}}>

        <div class="md-chip-content" tabindex="-1" aria-hidden="true">
          {{#if hasBlock}}
            {{yield item "chip"}}
          {{else}}
            <span>{{item}}</span>
          {{/if}}
        </div>

        <div class="md-chip-remove-container">
          {{#unless @readOnly}}
            <button
              class="md-chip-remove"
              type="button"
              aria-hidden="true"
              tabindex="-1"
              {{on "click" (fn this.handleRemoveItem item)}}>
              <PaperIcon @icon="clear" @size={{18}}/>
              <span class="md-visually-hidden">Remove</span>
            </button>
          {{/unless}}
        </div>

        {{#unless @readOnly}}
          <span class="md-visually-hidden">Press delete to remove this chip.</span>
        {{/unless}}

      </md-chip>
    {{/each}}

    {{#unless @readOnly}}
      <div class="md-chip-input-container">
        {{#if (or @requireMatch @options)}}
          <PaperAutocomplete
            @inputClass="md-input"
            @options={{@options}}
            @closeOnSelect={{true}}
            @defaultHighlighted={{if @defaultHighlighted @defaultHighlighted null}}
            @placeholder={{@placeholder}}
            @searchField={{@searchField}}
            @search={{@search}}
            @matcher={{@matcher}}
            @noMatchesMessage={{@noMatchesMessage}}
            @searchText={{this.searchText}}
            @onSelectionChange={{this.handleAutocompleteChange}}
            @onSearchTextChange={{this.handleSearchTextChange}}
            @onOpen={{this.handleAutocompleteOpen}}
            @onCreate={{this.handleAddItem}}
            as |item|>
            {{#if hasBlock}}
              {{yield item "suggestion"}}
            {{else}}
              <span>{{item}}</span>
            {{/if}}
          </PaperAutocomplete>
        {{else}}
          <input
            tabindex="0"
            placeholder={{@placeholder}}
            aria-label="Add Tag"
            {{on "keydown" this.handleInputKeydown}}>
        {{/if}}
      </div>
    {{/unless}}

  </md-chips-wrap>

</md-chips>