{{#if select.selected}}
  {{#if selectedItemComponent}}
    {{component selectedItemComponent option=(readonly select.selected) select=(readonly select)}}
  {{else}}
    <span class="ember-power-select-selected-item">{{yield select.selected select}}</span>
  {{/if}}
  {{#if (and allowClear (not select.disabled))}}
    <span class="ember-power-select-clear-btn" onmousedown={{action "clear"}}>&times;</span>
  {{/if}}
{{else if placeholder}}
  <span class="ember-power-select-placeholder">{{placeholder}}</span>
{{else if label}}
  <span class="ember-power-select-placeholder">{{label}}</span>
{{/if}}
<span class="md-select-icon" aria-hidden="true"></span>