<div class="md-container">
  <div class="md-icon"></div>
  <PaperRipple
    @center={{true}}
    @fitRipple={{true}}/>
</div>
{{#if hasBlock}}
  <div class="md-label">
    <span id={{labelId}}>
      {{yield}}
    </span>
  </div>
{{else}}
  <div class="md-label">
    <span id={{labelId}}>
      {{label}}
    </span>
  </div>
{{/if}}
