<nav class="ember-power-calendar-nav">
  {{#if onCenterChange}}
    <button type="button" class="ember-power-calendar-nav-control ember-power-calendar-nav-control--previous" onclick={{action calendar.actions.moveCenter -1 'month'}}>
      {{paper-icon 'navigate before'}}
    </button>
  {{/if}}
  <div class="ember-power-calendar-nav-title">
    {{#if hasBlock}}
      {{yield calendar}}
    {{else}}
      {{moment-format calendar.center 'MMMM YYYY' locale=calendar.locale}}
    {{/if}}
  </div>
  {{#if onCenterChange}}
    <button type="button" class="ember-power-calendar-nav-control ember-power-calendar-nav-control--next" onclick={{action calendar.actions.moveCenter 1 'month'}}>
      {{paper-icon 'navigate next'}}
    </button>
  {{/if}}
</nav>
