{{#if label}}
  <label for={{inputElementId}} class="{{if required "md-required"}}">{{label}}</label>
{{/if}}

{{#if icon}}
  {{component iconComponent icon}}
{{/if}}

{{#if textarea}}
  <textarea
    class="md-input {{if isInvalid "ng-invalid"}} {{if isTouched "ng-dirty"}}"
    id={{inputElementId}}
    placeholder={{placeholder}}
    disabled={{disabled}}
    autofocus={{autofocus}}
    onfocus={{onFocus}}
    onblur={{action "handleBlur"}}
    onkeydown={{onKeyDown}}
    oninput={{action "handleInput"}}

    name={{passThru.name}}
    rows={{passThru.rows}}
    cols={{passThru.cols}}
    maxlength={{passThru.maxlength}}
    tabindex={{passThru.tabindex}}
    required={{passThru.required}}
    selectionEnd={{passThru.selectionEnd}}
    selectionStart={{passThru.selectionStart}}
    selectionDirection={{passThru.selectionDirection}}
    wrap={{passThru.wrap}}
    readonly={{passThru.readonly}}
    form={{passThru.form}}
    spellcheck={{passThru.spellcheck}}></textarea>
{{else}}
  <input
    class="md-input {{if isInvalid "ng-invalid"}}  {{if isTouched "ng-dirty"}}"
    id={{inputElementId}}
    placeholder={{placeholder}}
    type={{type}}
    disabled={{disabled}}
    autofocus={{autofocus}}
    onfocus={{onFocus}}
    onblur={{action "handleBlur"}}
    onkeydown={{onKeyDown}}
    oninput={{action "handleInput"}}

    accept={{passThru.accept}}
    autocomplete={{passThru.autocomplete}}
    autocorrect={{passThru.autocorrect}}
    autocapitalize={{passThru.autocapitalize}}
    autosave={{passThru.autosave}}
    form={{passThru.form}}
    formaction={{passThru.formaction}}
    formenctype={{passThru.formenctype}}
    formmethod={{passThru.formmethod}}
    formnovalidate={{passThru.formnovalidate}}
    formtarget={{passThru.formtarget}}
    height={{passThru.height}}
    inputmode={{passThru.inputmode}}
    min={{passThru.min}}
    maxlength={{passThru.maxlength}}
    max={{passThru.max}}
    multiple={{passThru.multiple}}
    name={{passThru.name}}
    pattern={{passThru.pattern}}
    readonly={{passThru.readonly}}
    required={{passThru.required}}
    selectionDirection={{passThru.selectionDirection}}
    size={{passThru.size}}
    spellcheck={{passThru.spellcheck}}
    step={{passThru.step}}
    tabindex={{passThru.tabindex}}
    width={{passThru.width}}>
{{/if}}

{{#unless hideAllMessages}}
  <div class="md-errors-spacer">
    {{#if maxlength}}
      <div class="md-char-counter">{{renderCharCount}}</div>
    {{/if}}
  </div>
  {{#if isInvalidAndTouched}}
    <div class="md-input-messages-animation md-auto-hide">
      {{#each validationErrorMessages as |error index|}}
        <div id="error-{{inputElementId}}-{{index}}"
        class="paper-input-error ng-enter ng-enter-active md-input-message-animation"
        style="opacity: 1; margin-top: 0">
          {{error.message}}
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/unless}}

{{yield (hash
  charCount=currentLength
  isInvalid=isInvalid
  isTouched=isTouched
  isInvalidAndTouched=isInvalidAndTouched
  hasValue=hasValue
  validationErrorMessages=validationErrorMessages
)}}

{{#if iconRight}}
  {{component iconComponent iconRight}}
{{/if}}
