{{#if dropdown.isOpen}}
  {{#ember-wormhole to=destination renderInPlace=renderInPlace}}
      <md-virtual-repeat-container
        id={{readonly dropdownId}}
        class={{concat class " ember-basic-dropdown-content "
        (if renderInPlace 'ember-basic-dropdown-content--in-place ')
        (if hPosition (concat 'ember-basic-dropdown-content--' hPosition ' '))
        (if vPosition (concat 'ember-basic-dropdown-content--' vPosition ' ') "md-whiteframe-z1 ")
        animationClass}}
        style={{style}}>
        <div class="md-virtual-repeat-scroller">
          <div class="md-virtual-repeat-sizer" style={{contentStyle}}></div>
          {{#if ignoreOffsetter}}
          	<div class="md-virtual-repeat-offsetter"></div>
          {{else}}
          	<div class="md-virtual-repeat-offsetter" style={{offsetterStyle}}>
              {{yield select.results}}
          	</div>
          {{/if}}
        </div>
     </md-virtual-repeat-container>
  {{/ember-wormhole}}
{{/if}}
