{{#basic-dropdown
  horizontalPosition=(readonly horizontalPosition)
  destination=(readonly destination)
  initiallyOpened=(readonly initiallyOpened)
  matchTriggerWidth=(readonly matchTriggerWidth)
  calculatePosition=(readonly calculatePosition)
  onClose=(action "onClose")
  onOpen=(action "onOpen")
  registerAPI=(action "registerAPI")
  renderInPlace=(readonly renderInPlace)
  verticalPosition=(readonly verticalPosition)
  disabled=(readonly disabled)
  contentComponent=(readonly contentComponent)
  triggerComponent=(readonly triggerWrapperComponent)
  as |dropdown|}}

  {{#dropdown.trigger
    tagName="md-autocomplete"
    ariaDescribedBy=(readonly ariaDescribedBy)
    ariaInvalid=(readonly ariaInvalid)
    ariaLabel=(readonly ariaLabel)
    ariaLabelledBy=(readonly ariaLabelledBy)
    ariaRequired=(readonly required)
    class=(readonly concatenatedTriggerClasses)
    onKeyDown=(action "onTriggerKeydown")
    onFocus=(action "onTriggerFocus")
    onBlur=(action "deactivate")
    onMouseDown=(action "onTriggerMouseDown")
    tabindex=-1
    label=(readonly label)
    disabled=(readonly disabled)}}
    {{#component triggerComponent
      allowClear=(readonly allowClear)
      required=(readonly required)
      passThru=(readonly passThru)
      class="layout-row"
      flex=(readonly flex)
      disabled=disabled
      buildSelection=(readonly buildSelection)
      extra=(readonly extra)
      listboxId=(readonly optionsId)
      onFocus=(action "onFocus")
      activate=(action "activate")
      onBlur=(action "onBlur")
      onInput=(action "onInput")
      onClear=(readonly onClear)
      placeholder=(readonly placeholder)
      onKeydown=(action "onKeydown")
      searchEnabled=(readonly searchEnabled)
      searchField=(readonly searchField)
      searchText=(readonly searchText)
      validationErrorMessages=(readonly validationErrorMessages)
      select=(readonly publicAPI)
      selected=(readonly selected)
      selectedItemComponent=(readonly selectedItemComponent)}}
      {{yield publicAPI selected}}
    {{/component}}
  {{/dropdown.trigger}}

  {{#dropdown.content
    class=(readonly concatenatedDropdownClasses)
    select=(readonly publicAPI)
    as |virtualItems|}}
    {{#if mustShowSearchMessage}}
      {{component searchMessageComponent
        searchMessage=(readonly searchMessage)
        select=(readonly publicAPI)
      }}
    {{else if mustShowNoMessages}}
      {{#if (hasBlock "inverse")}}
        {{yield to="inverse"}}
      {{else if noMatchesMessage}}
        <ul class="ember-power-select-options md-autocomplete-suggestions" role="listbox">
          <li class="ember-power-select-option ember-power-select-option--no-matches-message" role="option" {{action 'onCreate' publicAPI.searchText}}>
            {{noMatchesMessage}}
          </li>
        </ul>
      {{/if}}
    {{else}}
      {{#component optionsComponent
        class="ember-power-select-options md-autocomplete-suggestions"
        groupIndex=""
        loadingMessage=(readonly loadingMessage)
        id=(readonly optionsId)
        options=(readonly virtualItems)
        optionsComponent=(readonly optionsComponent)
        select=(readonly publicAPI)
        as |option term|}}
          {{yield option term}}
      {{/component}}
    {{/if}}
  {{/dropdown.content}}
{{/basic-dropdown}}
