{{#paper-nav-container class="site-nav-container"}}
  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2 site-sidenav" locked-open="gt-sm"}}
    {{#paper-toolbar class="site-content-toolbar"}}
      <div class="logo layout-row layout-align-center-center">
        <div>
          <img src="ember-logo-white.png" height="30"/>&nbsp;&nbsp;
          <strong>Paper 1.0</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}

      {{#paper-list}}
        {{#paper-item onClick=(transition-to "index")}}Introduction{{/paper-item}}

        {{#paper-item onClick=(transition-to "demo.autocomplete")}}Autocomplete {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.button")}}Button{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.card")}}Card{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.checkbox")}}Checkbox{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.dialog")}}Dialog{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.divider")}}Divider {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.grid-list")}}Grid List {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.icons")}}Icons{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.input")}}Input{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.list")}}List {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.list-controls")}}List Controls {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.menu")}}Menu {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.progress-circular")}}Progress Circular{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.progress-linear")}}Progress Linear{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.radio")}}Radio{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.select")}}Select {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.sidenav")}}Sidenav {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.slider")}}Slider {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.switch")}}Switch{{/paper-item}}
        {{#paper-item onClick=(transition-to "demo.toolbar")}}Toolbar{{/paper-item}}
        {{#paper-item onClick=(transition-to "typography")}}Typography{{/paper-item}}
      {{/paper-list}}

    {{/paper-content}}
  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{outlet}}
  </div>
{{/paper-nav-container}}
