{{#if isOpenGlobalToast}}
  {{paper-toast
    hide-delay=3000
    align-fab=false
    on-close="closeGlobalToast"
    on-button="closeGlobalToast"
    button="Close"
    message=globalToastMessage
    bottom=true right=true
  }}
{{/if}}

{{#paper-nav-container class="site-nav-container"}}
  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2 site-sidenav" locked-open="gt-sm"}}
    {{#paper-toolbar class="site-content-toolbar"}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <img src="ember-logo-white.png" height="30"/>&nbsp;&nbsp;<strong>Paper</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}

      {{#paper-list}}
        {{#paper-item onClick=(transition-to "index")}}Introduction{{/paper-item}}

        {{#paper-item onClick=(transition-to "autocomplete")}}Autocomplete {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "button")}}Button{{/paper-item}}
        {{#paper-item onClick=(transition-to "card")}}Card{{/paper-item}}
        {{#paper-item onClick=(transition-to "checkbox")}}Checkbox{{/paper-item}}
        {{#paper-item onClick=(transition-to "dialog")}}Dialog{{/paper-item}}
        {{#paper-item onClick=(transition-to "divider")}}Divider {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "grid-list")}}Grid List {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "icons")}}Icons{{/paper-item}}
        {{#paper-item onClick=(transition-to "input")}}Input{{/paper-item}}
        {{#paper-item onClick=(transition-to "list")}}List {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "list-controls")}}List Controls {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "menu")}}Menu {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "progress-circular")}}Progress Circular{{/paper-item}}
        {{#paper-item onClick=(transition-to "progress-linear")}}Progress Linear{{/paper-item}}
        {{#paper-item onClick=(transition-to "radio")}}Radio{{/paper-item}}
        {{#paper-item onClick=(transition-to "select")}}Select {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "sidenav")}}Sidenav {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "slider")}}Slider {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "switch")}}Switch{{/paper-item}}
        {{#paper-item onClick=(transition-to "toast")}}Toast{{/paper-item}}
        {{#paper-item onClick=(transition-to "toolbar")}}Toolbar {{paper-icon "warning" title="Not updated yet."}}{{/paper-item}}
        {{#paper-item onClick=(transition-to "typography")}}Typography{{/paper-item}}
      {{/paper-list}}

    {{/paper-content}}
  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{outlet}}
  </div>
{{/paper-nav-container}}
