{{! template-lint-disable no-action }}
<PaperSidenavContainer @class="site-nav-container">
  <PaperSidenav @class="md-whiteframe-z2 site-sidenav" @lockedOpen="gt-sm" @open={{this.isSidenavOpen}} @onToggle={{action (mut this.isSidenavOpen)}}>
    <PaperToolbar @class="site-content-toolbar" @tall={{true}}>
      <div class="logo layout-column layout-align-center-center">
        <img alt="ember" src="/ember-logo-white.png">
        <div>paper</div>
      </div>
    </PaperToolbar>

    <PaperContent>

      <PaperList>
        <MenuItem @active={{is-active "index" this.router.currentRouteName}} @href={{href-to "index"}}>Introduction</MenuItem>

        <MenuItem @onClick={{action "toggleExpandedItem" "demos"}} @expanded={{this.demosExpanded}} @canExpand={{true}}>Components</MenuItem>

        <div class="submenu">
          {{#liquid-if this.demosExpanded}}
            <SubmenuItem @active={{is-active "demo.autocomplete" this.router.currentRouteName}} @href={{href-to "demo.autocomplete"}}>Autocomplete</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.button" this.router.currentRouteName}} @href={{href-to "demo.button"}}>Button</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.card" this.router.currentRouteName}} @href={{href-to "demo.card"}}>Card</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.checkbox" this.router.currentRouteName}} @href={{href-to "demo.checkbox"}}>Checkbox</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.chips" this.router.currentRouteName}} @href={{href-to "demo.chips"}}>Chips</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.dialog" this.router.currentRouteName}} @href={{href-to "demo.dialog"}}>Dialog</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.divider" this.router.currentRouteName}} @href={{href-to "demo.divider"}}>Divider</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.grid-list" this.router.currentRouteName}} @href={{href-to "demo.grid-list"}}>Grid List</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.icons" this.router.currentRouteName}} @href={{href-to "demo.icons"}}>Icons</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.input" this.router.currentRouteName}} @href={{href-to "demo.input"}}>Input</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.list" this.router.currentRouteName}} @href={{href-to "demo.list"}}>List</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.menu" this.router.currentRouteName}} @href={{href-to "demo.menu"}}>Menu</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.progress-circular" this.router.currentRouteName}} @href={{href-to "demo.progress-circular"}}>Progress Circular</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.progress-linear" this.router.currentRouteName}} @href={{href-to "demo.progress-linear"}}>Progress Linear</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.radio" this.router.currentRouteName}} @href={{href-to "demo.radio"}}>Radio</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.select" this.router.currentRouteName}} @href={{href-to "demo.select"}}>Select</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.sidenav" this.router.currentRouteName}} @href={{href-to "demo.sidenav"}}>Sidenav</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.slider" this.router.currentRouteName}} @href={{href-to "demo.slider"}}>Slider</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.speed-dial" this.router.currentRouteName}} @href={{href-to "demo.speed-dial"}}>Speed Dial</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.switch" this.router.currentRouteName}} @href={{href-to "demo.switch"}}>Switch</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.tabs.index" this.router.currentRouteName}} @href={{href-to "demo.tabs"}}>Tabs</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.toast" this.router.currentRouteName}} @href={{href-to "demo.toast"}}>Toast</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.toolbar" this.router.currentRouteName}} @href={{href-to "demo.toolbar"}}>Toolbar</SubmenuItem>
            <SubmenuItem @active={{is-active "demo.tooltip" this.router.currentRouteName}} @href={{href-to "demo.tooltip"}}>Tooltip</SubmenuItem>
          {{/liquid-if}}
        </div>
        <MenuItem @active={{is-active "forms" this.router.currentRouteName}} @href={{href-to "forms"}}>Forms</MenuItem>
        <MenuItem @active={{is-active "typography" this.router.currentRouteName}} @href={{href-to "typography"}}>Typography</MenuItem>
        <MenuItem @active={{is-active "theme" this.router.currentRouteName}} @href={{href-to "theme"}}>Color & Theme</MenuItem>

        <MenuItem @onClick={{action "toggleExpandedItem" "layout"}} @expanded={{this.layoutExpanded}} @canExpand={{true}}>Layout</MenuItem>
        <div class="submenu">
          {{#liquid-if this.layoutExpanded}}
            <SubmenuItem @active={{is-active "layout.introduction" this.router.currentRouteName}} @href={{href-to "layout.introduction"}}>Introduction</SubmenuItem>
            <SubmenuItem @active={{is-active "layout.layout-containers" this.router.currentRouteName}} @href={{href-to "layout.layout-containers"}}>Layout Containers</SubmenuItem>
            <SubmenuItem @active={{is-active "layout.layout-children" this.router.currentRouteName}} @href={{href-to "layout.layout-children"}}>Layout Children</SubmenuItem>
            <SubmenuItem @active={{is-active "layout.child-alignment" this.router.currentRouteName}} @href={{href-to "layout.child-alignment"}}>Child Alignment</SubmenuItem>
          {{/liquid-if}}
        </div>

        <MenuItem @active={{is-active "cookbook" this.router.currentRouteName}} @href={{href-to "cookbook"}}>Cookbook</MenuItem>
        <MenuItem @active={{is-active "addons" this.router.currentRouteName}} @href={{href-to "addons"}}>Addons</MenuItem>
      </PaperList>

    </PaperContent>
  </PaperSidenav>

  <div id="main" class="flex layout-column" tabindex="-1" role="main">
    {{outlet}}
  </div>
</PaperSidenavContainer>

<PaperToaster @parent="#main" />