{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Buttons</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding demo-buttons"}}
<div class="doc-content">
  <p>
    {{#paper-button action="flatButton"}}Button with action{{/paper-button}}
    {{#paper-button noink=true primary=true}}Primary (noink){{/paper-button}}
    {{#paper-button disabled=true}}disabled{{/paper-button}}
    {{#paper-button warn=true}}warn{{/paper-button}}
  </p>
  <p>
    {{#paper-button raised=true action="raisedButton"}}Button with action{{/paper-button}}
    {{#paper-button raised=true primary=true}}Primary{{/paper-button}}
    {{#paper-button raised=true disabled=true}}disabled{{/paper-button}}
    {{#paper-button raised=true warn=true}}warn{{/paper-button}}
  </p>
  {{#custom-button}}
  <p>
    {{#paper-button raised=true action="targetButton" target=component}}Button with target{{/paper-button}}
    {{#paper-button raised=true primary=true action="targetButton" target=component}}Button with bubble{{/paper-button}}
    {{#paper-button raised=true primary=true action="targetButton" target=component bubbles=false}}Button no bubble{{/paper-button}}
  </p>
  <p>
    {{#paper-button icon-button=true}}{{paper-icon "more-vert"}}{{/paper-button}}
  </p>
  {{/custom-button}}
  <p>
    {{paper-button raised=true label="Blockless version"}}
  </p>
  <h3>Template</h3>
  {{#code-block language='handlebars'}}
  &lt;p&gt;
    \{{#paper-button action="flatButton"}}Button with action\{{/paper-button}}
    \{{#paper-button noink=true primary=true}}Primary (noink)\{{/paper-button}}
    \{{#paper-button disabled=true}}disabled\{{/paper-button}}
    \{{#paper-button warn=true}}warn\{{/paper-button}}
  &lt;/p&gt;
  &lt;p&gt;
    \{{#paper-button raised=true action="raisedButton"}}Button with action\{{/paper-button}}
    \{{#paper-button raised=true primary=true}}Primary\{{/paper-button}}
    \{{#paper-button raised=true disabled=true}}disabled\{{/paper-button}}
    \{{#paper-button raised=true warn=true}}warn\{{/paper-button}}
  &lt;/p&gt;
  &lt;p&gt;
    \{{#paper-button raised=true action="targetButton" target=component}}Button with target\{{/paper-button}}
    \{{#paper-button raised=true primary=true action="targetButton" target=component}}Button with bubble\{{/paper-button}}
    \{{#paper-button raised=true primary=true action="targetButton" target=component bubbles=false}}Button no bubble\{{/paper-button}}
  &lt;/p&gt;
  &lt;p&gt;
    \{{#paper-button icon-button=true}}\{{paper-icon "more-vert"}}\{{/paper-button}}
  &lt;/p&gt;
  &lt;p&gt;
    \{{paper-button raised=true label="Blockless version"}}
  &lt;/p&gt;{{/code-block}}
</div>
{{/paper-content}}
