<DocContent>
  <PaperCard as |card|>
    <card.title>
      <h2>Autocomplete</h2>
    </card.title>
    <card.content>
      <p>
        <PaperAutocomplete
          @disabled={{true}}
          @labelPath='name'
          @noMatchesMessage="Oops this country doesn't exist. Create a new country?"
          @onSelectionChange={{fn (mut this.selectedCountry)}}
          @options={{this.countries}}
          @placeholder='Select a Country...'
          @searchField='name'
          @searchText='Teehee'
        />
      </p>

      <p>
        <PaperAutocomplete
          @disabled={{false}}
          @labelPath='name'
          @noMatchesMessage="Oops this country doesn't exist. Create a new country?"
          @onSelectionChange={{fn (mut this.selectedCountry)}}
          @options={{this.countries}}
          @placeholder='Select a Country...'
          @searchField='name'
          @selected={{this.selectedCountry}}
        />
      </p>

      <PaperAutocomplete
        @allowClear={{false}}
        @disabled={{false}}
        @label='Select a Country...'
        @labelPath='name'
        @noMatchesMessage="Oops this country doesn't exist."
        @onSelectionChange={{fn (mut this.selectedCountry2)}}
        @options={{this.countries}}
        @required={{false}}
        @searchField='name'
        @triggerClass='flex'
        @selected={{this.selectedCountry}}
        as |country select|
      >
        <PaperAutocompleteHighlight
          @label={{country.name}}
          @searchText={{select.searchText}}
          @flags='i'
        />
      </PaperAutocomplete>

      <PaperAutocomplete
        @allowClear={{false}}
        @disabled={{false}}
        @label='Select a Country...'
        @labelPath='name'
        @noMatchesMessage="Oops this country doesn't exist."
        @onSelectionChange={{fn (mut this.selectedCountry2)}}
        @options={{this.countries}}
        @required={{true}}
        @searchField='name'
        @triggerClass='flex'
        @selected={{this.selectedCountry}}
        as |country select|
      >
        <PaperAutocompleteHighlight
          @label={{country.name}}
          @searchText={{select.searchText}}
          @flags='i'
        />
      </PaperAutocomplete>

      <PaperAutocomplete
        @allowClear={{false}}
        @disabled={{true}}
        @label='Select a Country...'
        @labelPath='name'
        @noMatchesMessage="Oops this country doesn't exist."
        @onSelectionChange={{fn (mut this.selectedCountry2)}}
        @options={{this.countries}}
        @required={{false}}
        @searchField='name'
        @selected={{this.selectedCountry2}}
        @triggerClass='flex'
        as |country select|
      >
        <PaperAutocompleteHighlight
          @label={{country.name}}
          @searchText={{select.searchText}}
          @flags='i'
        />
      </PaperAutocomplete>

      <PaperAutocomplete
        @allowClear={{false}}
        @disabled={{true}}
        @label='Select a Country...'
        @labelPath='name'
        @noMatchesMessage="Oops this country doesn't exist."
        @onSelectionChange={{fn (mut this.selectedCountry2)}}
        @options={{this.countries}}
        @required={{true}}
        @searchField='name'
        @selected={{this.selectedCountry2}}
        @triggerClass='flex'
        as |country select|
      >
        <PaperAutocompleteHighlight
          @label={{country.name}}
          @searchText={{select.searchText}}
          @flags='i'
        />
      </PaperAutocomplete>

      <PaperAutocomplete
        @allowClear={{true}}
        @disabled={{false}}
        @label='Select a Country...'
        @labelPath='name'
        @noMatchesMessage="Oops this country doesn't exist."
        @onSelectionChange={{fn (mut this.selectedCountry2)}}
        @options={{this.countries}}
        @required={{false}}
        @searchField='name'
        @selected={{this.selectedCountry2}}
        @triggerClass='flex'
        as |country select|
      >
        <PaperAutocompleteHighlight
          @label={{country.name}}
          @searchText={{select.searchText}}
          @flags='i'
        />
      </PaperAutocomplete>

      <PaperAutocomplete
        @allowClear={{true}}
        @disabled={{false}}
        @label='Select a Country...'
        @labelPath='name'
        @noMatchesMessage="Oops this country doesn't exist."
        @onSelectionChange={{fn (mut this.selectedCountry2)}}
        @options={{this.countries}}
        @required={{true}}
        @searchField='name'
        @selected='not'
        @triggerClass='flex'
        as |country select|
      >
        <PaperAutocompleteHighlight
          @label={{country.name}}
          @searchText={{select.searchText}}
          @flags='i'
        />
      </PaperAutocomplete>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Button</h2>
    </card.title>
    <card.content>
      <div class='layout-row'>
        <PaperButton @onClick={{this.flatButton}}>Button with action</PaperButton>
        <PaperButton @noink={{true}} @primary={{true}}>Primary (noink)</PaperButton>
        <PaperButton @disabled={{true}}>disabled</PaperButton>
        <PaperButton @warn={{true}}>warn</PaperButton>
        <PaperButton @accent={{true}}>accent</PaperButton>
        <PaperButton
          @href='http://emberjs.com/images/tomsters/original.png'
          @target='_blank'
        >href link</PaperButton>
      </div>
      <p>
        <PaperButton @raised={{true}} @onClick={{this.raisedButton}}>
          Button with action
        </PaperButton>
        <PaperButton @raised={{true}} @primary={{true}}>Primary</PaperButton>
        <PaperButton @raised={{true}} @disabled={{true}}>disabled</PaperButton>
        <PaperButton @raised={{true}} @warn={{true}}>warn</PaperButton>
        <PaperButton @raised={{true}} @accent={{true}}>accent</PaperButton>
      </p>
      <CustomButton>
        <p>
          <PaperButton @raised={{true}} @onClick={{this.targetButton}}>
            Button with target
          </PaperButton>
          <PaperButton
            @raised={{true}}
            @primary={{true}}
            @onClick={{this.targetButton}}
          >
            Button with bubble
          </PaperButton>
          <PaperButton
            @raised={{true}}
            @primary={{true}}
            @onClick={{this.targetButton}}
            @bubbles={{false}}
          >
            Button no bubble
          </PaperButton>
        </p>
      </CustomButton>

      <p>
        <PaperButton @raised={{true}} @fab={{true}}>Fab</PaperButton>
        <PaperButton
          @raised={{true}}
          @fab={{true}}
          @accent={{true}}
        >Fab</PaperButton>
        <PaperButton @raised={{true}} @mini={{true}}>Mini</PaperButton>
        <PaperButton
          @raised={{true}}
          @mini={{true}}
          @primary={{true}}
        >Mini</PaperButton>
        <PaperButton @iconButton={{true}}>
          <PaperIcon @icon='accessibility' />
        </PaperButton>
      </p>

      <p>
        <PaperButton @raised={{true}} @label='Blockless version' />
      </p>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Card</h2>
    </card.title>
    <card.content>
      <div class='layout-row layout-xs-column'>
        <div class='layout-column flex-xs flex-gt-xs-50 card-demo'>
          <PaperCard as |card|>
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>Card with image</text.headline>
                <text.subhead>Large</text.subhead>
              </title.text>
              <title.media
                @size='lg'
                @src='/tomster.png'
                @alt='Tomster'
                @title='Tomster'
              />
            </card.title>
            <card.actions>
              <PaperButton>Action 1</PaperButton>
              <PaperButton>Action 2</PaperButton>
            </card.actions>
          </PaperCard>

          <PaperCard as |card|>
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>Card with block</text.headline>
                <text.subhead>Extra large</text.subhead>
              </title.text>
            </card.title>
            <card.content @class='layout-row layout-align-space-between'>
              <card.media @size='xl'>
                <div class='card-media'></div>
              </card.media>
              <card.actions @class='layout-column'>
                <PaperButton @iconButton={{true}}>
                  <PaperIcon @icon='favorite' />
                </PaperButton>
                <PaperButton @iconButton={{true}}>
                  <PaperIcon @icon='settings' />
                </PaperButton>
                <PaperButton @iconButton={{true}}>
                  <PaperIcon @icon='share' />
                </PaperButton>
              </card.actions>
            </card.content>
          </PaperCard>
        </div>

        <div class='layout-column flex-xs flex-gt-xs-50 card-demo'>
          <PaperCard as |card|>
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>Card with image</text.headline>
                <text.subhead>Small</text.subhead>
              </title.text>
              <title.media
                @size='sm'
                @src='/tomster.png'
                @alt='Tomster'
                @title='Tomster'
              />
            </card.title>
            <card.actions>
              <PaperButton>Action 1</PaperButton>
              <PaperButton>Action 2</PaperButton>
            </card.actions>
          </PaperCard>

          <PaperCard as |card|>
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>Card with block</text.headline>
                <text.subhead>Medium</text.subhead>
              </title.text>
              <title.media @size='md'>
                <div class='card-media'></div>
              </title.media>
            </card.title>
            <card.actions>
              <PaperButton>Action 1</PaperButton>
              <PaperButton>Action 2</PaperButton>
            </card.actions>
          </PaperCard>
        </div>
      </div>

      <div class='layout-row layout-xs-column'>
        <div class='layout-column flex-xs flex-gt-xs-50'>
          <PaperCard as |card|>
            <card.image
              @src='/washedout.png'
              @alt='Washed Out'
              @title='Washed Out'
            />
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>Action buttons</text.headline>
              </title.text>
            </card.title>
            <card.content>
              <p>
                The titles of Washed Out's breakthrough song and the first
                single from Paracosm share the two most important words in
                Ernest Greene's musical language: feel it. It's a simple
                request, as well...
              </p>
              <p>
                The titles of Washed Out's breakthrough song and the first
                single from Paracosm share the two most important words in
                Ernest Greene's musical language: feel it. It's a simple
                request, as well...
              </p>
              <p>
                The titles of Washed Out's breakthrough song and the first
                single from Paracosm share the two most important words in
                Ernest Greene's musical language: feel it. It's a simple
                request, as well...
              </p>
            </card.content>
            <card.actions>
              <PaperButton>Action 1</PaperButton>
              <PaperButton>Action 2</PaperButton>
            </card.actions>
          </PaperCard>

          <PaperCard as |card|>
            <card.image
              @src='/washedout.png'
              @alt='Washed Out'
              @title='Washed Out'
            />
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>Vertical action buttons</text.headline>
              </title.text>
            </card.title>
            <card.content>
              <p>
                The titles of Washed Out's breakthrough song and the first
                single from Paracosm share the two most important words in
                Ernest Greene's musical language: feel it. It's a simple
                request, as well...
              </p>
            </card.content>
            <card.actions @class='layout-column'>
              <PaperButton>Action 1</PaperButton>
              <PaperButton>Action 2</PaperButton>
            </card.actions>
          </PaperCard>
        </div>

        <div class='layout-column flex-xs flex-gt-xs-50'>
          <PaperCard as |card|>
            <card.image
              @src='/washedout.png'
              @alt='Washed Out'
              @title='Washed Out'
            />
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>Icon action buttons</text.headline>
              </title.text>
            </card.title>
            <card.content>
              <p>
                The titles of Washed Out's breakthrough song and the first
                single from Paracosm share the two most important words in
                Ernest Greene's musical language: feel it. It's a simple
                request, as well...
              </p>
            </card.content>
            <card.actions>
              <PaperButton @iconButton={{true}}>
                <PaperIcon @icon='favorite' />
              </PaperButton>
              <PaperButton @iconButton={{true}}>
                <PaperIcon @icon='settings' />
              </PaperButton>
              <PaperButton @iconButton={{true}}>
                <PaperIcon @icon='share' />
              </PaperButton>
            </card.actions>
          </PaperCard>

          <PaperCard as |card|>
            <card.image
              @src='/washedout.png'
              @alt='Washed Out'
              @title='Washed Out'
            />
            <card.actions>
              <PaperButton @iconButton={{true}}>
                <PaperIcon @icon='favorite' />
              </PaperButton>
              <PaperButton @iconButton={{true}}>
                <PaperIcon @icon='settings' />
              </PaperButton>
              <PaperButton @iconButton={{true}}>
                <PaperIcon @icon='share' />
              </PaperButton>
            </card.actions>
          </PaperCard>

          <PaperCard as |card|>
            <card.header as |header|>
              <header.avatar>
                <img src='/tomster.png' alt='tomster' />
              </header.avatar>
              <header.text as |text|>
                <text.title>Ember</text.title>
                <text.subhead>Paper</text.subhead>
              </header.text>
            </card.header>
            <card.image
              @src='/washedout.png'
              @alt='Washed Out'
              @title='Washed Out'
            />
            <card.title as |title|>
              <title.text as |text|>
                <text.headline>Card header</text.headline>
              </title.text>
            </card.title>
            <card.content>
              <p>
                The titles of Washed Out's breakthrough song and the first
                single from Paracosm share the two most important words in
                Ernest Greene's musical language: feel it. It's a simple
                request, as well...
              </p>
            </card.content>
          </PaperCard>
        </div>
      </div>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Checkbox</h2>
    </card.title>
    <card.content>
      <div class='layout-column'>
        <PaperCheckbox
          @value={{this.checkboxValue1}}
          @onChange={{fn (mut this.checkboxValue1)}}
        >
          A checkbox:
          {{this.checkboxValue1}}
        </PaperCheckbox>

        <PaperCheckbox
          @value={{this.checkboxValue2}}
          @onChange={{fn (mut this.checkboxValue2)}}
        >
          A checkbox:
          {{if this.checkboxValue2 'yep' 'nope'}}
        </PaperCheckbox>

        <PaperCheckbox
          @value={{this.checkboxValue3}}
          @onChange={{fn (mut this.checkboxValue3)}}
          @disabled={{true}}
        >
          Checkbox (disabled)
        </PaperCheckbox>

        <PaperCheckbox
          @value={{true}}
          @onChange={{fn (mut this.checkboxValue4)}}
          @disabled={{true}}
        >
          Checkbox (disabled and value)
        </PaperCheckbox>

        <PaperCheckbox
          @value={{this.checkboxValue5}}
          @onChange={{fn (mut this.checkboxValue5)}}
          @noink={{true}}
        >
          Checkbox (no ink)
        </PaperCheckbox>

        <PaperCheckbox
          @label='Blockless version'
          @value={{this.checkboxValue6}}
          @onChange={{this.checkboxToggleCheckValue6}}
        />

        <PaperCheckbox
          @indeterminate={{this.checkboxIsIndeterminate}}
          @value={{this.checkboxValue7}}
          @onChange={{fn (mut this.checkboxValue7)}}
        >
          Indeterminate checkbox
        </PaperCheckbox>

        <PaperCheckbox
          @disabled={{true}}
          @indeterminate={{this.checkboxIsIndeterminate}}
          @value={{this.checkboxValue7}}
          @onChange={{null}}
        >
          Indeterminate checkbox (disabled)
        </PaperCheckbox>
      </div>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Chips</h2>
    </card.title>
    <card.content>
      <PaperChips
        @content={{this.chipsFruitNames}}
        @readOnly={{this.chipsReadOnly}}
        @removeItem={{this.chipsRemoveItem}}
        @addItem={{this.chipsAddItem}}
        @placeholder='Add a tag'
      />
      <p><code>default template</code></p>

      <PaperChips
        @readOnly={{this.chipsReadOnly}}
        @removeItem={{this.chipsRemoveCustomItem}}
        @addItem={{this.chipsAddCustomItem}}
        @placeholder='Add a tag'
        @content={{this.chipsCustomFruitNames}}
        as |item|
      >
        <strong>{{item}}</strong>
        <em>(fruit)</em>
      </PaperChips>
      <p><code>custom template</code></p>

      <h3>Chips with Autocomplete</h3>
      <PaperChips
        @readOnly={{this.chipsReadOnly}}
        @removeItem={{this.chipsRemoveVegetable}}
        @addItem={{this.chipsAddVegetable}}
        @placeholder='Add a vegetable'
        @content={{this.chipsVegetables}}
        @options={{this.chipsRemainingVegetables}}
        @searchField='name'
        @noMatchesMessage='Not found. Click to add.'
        as |item|
      >
        <strong>{{item.name}}</strong>
        {{#if item.family}}
          <em>{{item.family}}</em>
        {{/if}}
      </PaperChips>
      <p><code>Chips with Autocomplete</code></p>

      <PaperChips
        @readOnly={{this.chipsReadOnly}}
        @removeItem={{this.chipsRemoveVegeName}}
        @addItem={{this.chipsAddVegeName}}
        @placeholder='Add a vegetable'
        @content={{this.chipsVegeNames}}
        @options={{this.chipsRemainingVegeNames}}
        @requireMatch={{true}}
      />
      <p><code>Chips with Autocomplete (requires match)</code></p>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Contact Chips</h2>
    </card.title>
    <card.content>
      <PaperContactChips
        @removeItem={{this.contactChipsRemoveContact}}
        @addItem={{this.contactChipsAddContact}}
        @placeholder='Add a contact'
        @content={{this.contactChipsSelectedContacts}}
        @options={{this.contactChipsRemainingContacts}}
      />
      <p><code>default</code></p>

      <PaperContactChips
        @readOnly={{true}}
        @removeItem={{this.contactChipsRemoveContact}}
        @addItem={{this.contactChipsAddContact}}
        @placeholder='Add a contact'
        @content={{this.contactChipsSelectedContacts}}
        @options={{this.contactChipsRemainingContacts}}
      />
      <p><code>read only contact chips</code></p>
    </card.content>
  </PaperCard>

  <PaperCard>
    <PaperCardTitle>
      <h2>Dialog</h2>
    </PaperCardTitle>

    <div class='doc-content-example'>
      <div id='paper-dialog-demo' class='paper-dialog-demo'></div>
      <PaperCardContent>
        <div class='layout-row layout-wrap'>
          <PaperButton
            @raised={{true}}
            @primary={{true}}
            @onClick={{this.dialogToggleOpen}}
          >
            Open Dialog
          </PaperButton>
        </div>
      </PaperCardContent>
    </div>
  </PaperCard>
  <span id='bottom-of-card'></span>

  <PaperCard as |card|>
    <card.title>
      <h2>Divider</h2>
    </card.title>
    <card.content>
      <PaperDivider />
      <p><code>divider: default</code></p>

      <PaperDivider @inset={{true}} />
      <p><code>divider: inset</code></p>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Grid List: default</h2>
    </card.title>
    <card.content @class='md-whiteframe-z1 grid-list-demo1'>
      <PaperGridList
        @cols='1 md-2 gt-md-6'
        @rowHeight='gt-md-1:1 2:2'
        @gutter='12px gt-sm-8px'
        as |grid|
      >

        <grid.tile @class='gray' @rowspan='2' @colspan='sm-1 gt-sm-2' as |tile|>
          <tile.footer>
            <h3>#1: (3r x 2c)</h3>
          </tile.footer>
        </grid.tile>

        <grid.tile @class='green' as |tile|>
          <tile.footer>
            <h3>#2: (1r x 1c)</h3>
          </tile.footer>
        </grid.tile>

        <grid.tile @class='yellow' as |tile|>
          <tile.footer>
            <h3>#3: (1r x 1c)</h3>
          </tile.footer>
        </grid.tile>

        <grid.tile @class='blue' @rowspan='2' as |tile|>
          <tile.footer>
            <h3>#4: (2r x 1c)</h3>
          </tile.footer>
        </grid.tile>

        <grid.tile @class='red' @rowspan='2' @colspan='sm-1 gt-sm-2' as |tile|>
          <tile.footer>
            <h3>#5: (2r x 2c)</h3>
          </tile.footer>
        </grid.tile>

        <grid.tile @class='green' @rowspan='2' as |tile|>
          <tile.footer>
            <h3>#6: (2r x 1c)</h3>
          </tile.footer>
        </grid.tile>

      </PaperGridList>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Grid List: dynamic tiles</h2>
    </card.title>
    <card.content @class='md-whiteframe-z1 grid-list-demo-dynamicTiles'>
      <PaperGridList
        @cols='sm-2 md-4 gt-md-6'
        @rowHeight='4:3 gt-md-1:1'
        @gutter='8px gt-sm-4px'
        as |grid|
      >

        {{#each this.gridListTiles as |dynamicTile|}}
          <grid.tile
            @rowspan={{dynamicTile.span.row}}
            @colspan={{concat dynamicTile.span.col ' xs-1'}}
            @class={{dynamicTile.background}}
            as |tile|
          >
            <md-icon></md-icon>
            <tile.footer>
              <h3>{{dynamicTile.title}}</h3>
            </tile.footer>
          </grid.tile>
        {{/each}}

      </PaperGridList>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Icons</h2>
    </card.title>
    <card.content>
      <PaperIcon @icon='check-circle' @size={{12}} />
      <PaperIcon @icon='check-circle' @size={{18}} />
      <PaperIcon @icon='check-circle' @size={{24}} />
      <PaperIcon @icon='check-circle' @size={{36}} />
      <PaperIcon @icon='check-circle' @size={{48}} />
      <p><code>default</code></p>

      <PaperIcon @icon='rotate-right' @spin={{true}} />
      <PaperIcon @icon='rotate-left' @reverseSpin={{true}} />
      <p><code>spinners</code></p>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Input</h2>
    </card.title>
    <card.content>
      <div class='layout layout-sm-column'>
        <PaperInput
          @class='flex-30'
          @label='Name'
          @placeholder='Enter name'
          @value={{this.inputName}}
          @onChange={{fn (mut this.inputName)}}
        />
        <PaperInput
          @class='flex-30'
          @label='E-mail'
          @type='email'
          @value={{this.inputEmail}}
          @onChange={{fn (mut this.inputEmail)}}
        />
        <PaperInput
          @class='flex-40'
          @label='Password'
          @type='password'
          @value={{this.inputPassword}}
          @onChange={{fn (mut this.inputPassword)}}
        />
      </div>
      <div class='layout layout-sm-column'>
        <PaperInput
          @class='flex'
          @label='Submission date'
          @type='date'
          @value={{this.inputDate}}
          @onChange={{fn (mut this.inputDate)}}
        />
        <PaperInput
          @class='flex'
          @label='Company (disabled)'
          @type='text'
          @value='Google'
          @disabled={{true}}
          @onChange={{fn (mut this.inputFoo)}}
        />
      </div>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>List</h2>
    </card.title>
    <card.content>
      <PaperList>
        <PaperSubheader>3 line item</PaperSubheader>
        {{#each this.listData as |item|}}
          <PaperItem @class='md-3-line'>
            <img src={{item.img}} alt={{item.name}} class='md-avatar' />
            <div class='md-list-item-text'>
              <h3>{{item.name}}</h3>
              <h4>{{item.email}}</h4>
              <p>Some longer notes here could be here. But they aren't.</p>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>2 line item</PaperSubheader>
        {{#each this.listData as |item|}}
          <PaperItem @class='md-2-line'>
            <img src={{item.img}} alt={{item.name}} class='md-avatar' />
            <div class='md-list-item-text'>
              <h3>{{item.name}}</h3>
              <p>{{item.email}}</p>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>3 line item, long paragraph</PaperSubheader>
        {{#each this.listData as |item|}}
          <PaperItem @class='md-3-line md-long-text'>
            <img src={{item.img}} alt={{item.name}} class='md-avatar' />
            <div class='md-list-item-text'>
              <h3>{{item.name}}</h3>
              <p>
                Secondary line text Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper
                vel, tincidunt sed, euismod in, nibh. Quisque volutpat
                condimentum velit. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos.
              </p>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Icons</PaperSubheader>
        {{#each this.listPhoneNumbers as |phone|}}
          <PaperItem @class='md-2-line'>
            <PaperIcon @icon='phone' @class='md-avatar-icon' />
            <div class='md-list-item-text'>
              <h3>{{phone.number}}</h3>
              <p>{{phone.type}}</p>
            </div>
          </PaperItem>
        {{/each}}

      </PaperList>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>List: controls</h2>
    </card.title>
    <card.content>
      <PaperList>

        <PaperSubheader>Single Action Checkboxes</PaperSubheader>
        {{#each this.listToppings as |topping|}}
          <PaperItem as |controls|>
            <p>{{topping.name}}</p>
            <div class='md-secondary-container'>
              <controls.checkbox
                @value={{topping.enabled}}
                @secondary={{true}}
                @onChange={{fn (mut topping.enabled)}}
              />
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Secondary Buttons</PaperSubheader>
        <PaperItem as |controls|>
          <p>Clicking the button to the right will fire the secondary action</p>
          <div class='md-secondary-container'>
            <controls.button
              @secondary={{true}}
              @onClick={{fn this.listTransitionTo 'more info'}}
            >
              More Info
            </controls.button>
          </div>
        </PaperItem>
        <PaperItem
          @onClick={{fn this.listTransitionTo 'primary action'}}
          as |controls|
        >
          <p>Click anywhere to fire the primary action, or the button to fire
            the secondary</p>
          <div class='md-secondary-container'>
            <controls.button
              @secondary={{true}}
              @onClick={{fn this.listTransitionTo 'secondary action'}}
            >
              More Info
            </controls.button>
          </div>
        </PaperItem>

        <PaperDivider />

        <PaperSubheader>Clickable Items with Secondary Controls</PaperSubheader>
        <PaperItem @onClick={{this.listTransitionToMenu}} as |controls|>
          <PaperIcon @icon='network-wifi' />
          <p>Wi-Fi</p>
          <div class='md-secondary-container'>
            <controls.switch
              @secondary={{true}}
              @value={{this.listWifiEnabled}}
              @onChange={{fn (mut this.listWifiEnabled)}}
            />
          </div>
        </PaperItem>
        <PaperItem @onClick={{this.listTransitionToMenu}} as |controls|>
          <PaperIcon @icon='bluetooth' />
          <p>Bluetooth</p>
          <div class='md-secondary-container'>
            <controls.switch
              @secondary={{true}}
              @value={{this.listBluetoothEnabled}}
              @onChange={{fn (mut this.listBluetoothEnabled)}}
            />
          </div>
        </PaperItem>
        <PaperItem @onClick={{this.listTransitionToMenu}}>
          <PaperIcon @icon='data-usage' />
          <p>Data Usage</p>
        </PaperItem>

        <PaperDivider />

        <PaperSubheader>Checkbox with Secondary Action</PaperSubheader>
        {{#each this.listMessageData as |item|}}
          <PaperItem as |controls|>
            <controls.checkbox
              @value={{item.checked}}
              @onChange={{fn (mut item.checked)}}
            />
            <p>{{item.message}}</p>
            <div class='md-secondary-container'>
              <controls.button
                @secondary={{true}}
                @iconButton={{true}}
                @onClick={{fn this.listTransitionTo item}}
              >
                <PaperIcon @icon='message' />
              </controls.button>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Avatar with Secondary Action Icon</PaperSubheader>
        {{#each this.listData as |item|}}
          <PaperItem @onClick={{this.listTransitionToMenu}} as |controls|>
            <img src={{item.img}} alt={{item.name}} class='md-avatar' />
            <p>{{item.name}}</p>
            <div class='md-secondary-container'>
              <controls.checkbox
                @value={{item.checked}}
                @onChange={{fn (mut item.checked)}}
              />
              <controls.button
                @secondary={{true}}
                @iconButton={{true}}
                @onClick={{this.listSecondaryMessageClick}}
              >
                <PaperIcon @icon='email' />
              </controls.button>
              <controls.button
                @secondary={{true}}
                @iconButton={{true}}
                @onClick={{this.listSecondaryMessageClick}}
              >
                <PaperIcon @icon='message' />
              </controls.button>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Clickable Avatars</PaperSubheader>
        {{#each this.listData as |item|}}
          <PaperItem @class='md-3-line' @onClick={{this.listTransitionToMenu}}>
            <img src={{item.img}} alt={{item.name}} class='md-avatar' />
            <div class='md-list-item-text'>
              <h3>{{item.name}}</h3>
              <h4>{{item.email}}</h4>
              <p>Some notes here.</p>
            </div>
          </PaperItem>
        {{/each}}

        <PaperDivider />

        <PaperSubheader>Avatar with Secondary Action Icon</PaperSubheader>
        {{#each this.listData as |item|}}
          <PaperItem
            @class='md-3-line'
            @onClick={{this.listTransitionToMenu}}
            as |controls|
          >
            <img src={{item.img}} alt={{item.name}} class='md-avatar' />
            <div class='md-list-item-text'>
              <h3>{{item.name}}</h3>
              <h4>{{item.email}}</h4>
              <p>Some notes here.</p>
            </div>
            <controls.button
              @secondary={{true}}
              @iconButton={{true}}
              @onClick={{this.listTransitionToMenu}}
            >
              <PaperIcon @icon='phone' />
            </controls.button>
          </PaperItem>
        {{/each}}

        <PaperSubheader>Single Action Radios</PaperSubheader>
        {{#each this.listToppings as |topping|}}
          <PaperItem as |controls|>
            <p>{{topping.name}}</p>
            <div class='md-secondary-container'>
              <controls.radio
                @groupValue={{this.listRadioSelectedTopping}}
                @value={{topping}}
                @secondary={{true}}
                @onChange={{fn (mut this.listRadioSelectedTopping)}}
              />
            </div>
          </PaperItem>
        {{/each}}
      </PaperList>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Menu</h2>
    </card.title>
    <card.content>
      <div
        class='menus layout-fill layout-wrap layout-row layout-align-space-between-center'
      >
        <div
          class='layout-column flex-33 flex-sm-100 layout-align-center-center'
        >
          <PaperMenu @isOpen={{true}} as |menu|>
            <menu.trigger @isOpen={{true}}>
              <PaperButton @isOpen={{true}} @iconButton={{true}}>
                <PaperIcon @icon='local_phone' />
              </PaperButton>
            </menu.trigger>

            <menu.content @isOpen={{true}} @width={{4}} as |content|>
              {{#each this.menuItems as |item|}}
                <content.menu-item @onClick={{this.menuOpenSomething}}>
                  <PaperIcon @icon={{item.icon}} />
                  <span>{{item.title}}</span>
                </content.menu-item>
              {{/each}}

              <content.menu-item
                @onClick={{this.menuOpenSomething}}
                @disabled={{true}}
              >
                <PaperIcon @icon='adb' />
                <span>This is disabled.</span>
              </content.menu-item>

              <PaperDivider />

              {{#each this.menuItems as |item|}}
                <content.menu-item @onClick={{this.menuOpenSomething}}>
                  <PaperIcon @icon={{item.icon}} />
                  {{item.title}}
                </content.menu-item>
              {{/each}}
            </menu.content>
          </PaperMenu>
        </div>
      </div>
    </card.content>
  </PaperCard>

  <PaperCard as |card|>
    <card.title>
      <h2>Progress Circular</h2>
    </card.title>
    <card.content>
      <div class='layout-row layout-align-space-between'>
        <PaperProgressCircular @class='md-hue-2' @diameter={{25}} />
        <PaperProgressCircular @accent={{true}} @diameter={{40}} />
        <PaperProgressCircular
          @accent={{true}}
          @class='md-hue-1'
          @diameter={{60}}
        />
        <PaperProgressCircular
          @warn={{true}}
          @class='md-hue-3'
          @diameter={{70}}
        />
        <PaperProgressCircular @warn={{true}} @diameter={{96}} />
      </div>
    </card.content>
  </PaperCard>
</DocContent>

{{#if this.dialogShowDialog}}
  <PaperDialog
    @class='flex-50'
    @clickOutsideToClose={{true}}
    @focusOnOpen={{false}}
    @onClose={{this.dialogToggleOpen}}
    @parent='#paper-dialog-demo'
  >
    <form>
      <PaperToolbar>
        <PaperToolbarTools>
          <h2>Mango (Fruit)</h2>
          <span class='flex'></span>
          <PaperButton @iconButton={{true}} @onClick={{this.dialogToggleOpen}}>
            <PaperIcon @icon='close' />
          </PaperButton>
        </PaperToolbarTools>
      </PaperToolbar>

      <PaperDialogContent>
        <p>
          This is a dialog rendered into a specific element. Clicking outside
          the dialog will close it.
        </p>
      </PaperDialogContent>

      <PaperDialogActions @class='layout-row'>
        <span class='flex'></span>
        <PaperButton @onClick={{this.dialogToggleOpen}}>
          Cancel
        </PaperButton>
        <PaperButton @onClick={{this.dialogToggleOpen}}>
          OK
        </PaperButton>
      </PaperDialogActions>
    </form>
  </PaperDialog>
{{/if}}

{{outlet}}