{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button onClick=(action "toggleMenu" target=toggle) iconButton=true}}
          {{paper-icon "menu")}}
        {{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Checkboxes</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
<div class="doc-content">
  {{#paper-checkbox checked=value1 onChange=(action (mut value1))}}A checkbox: {{value1}}{{/paper-checkbox}}
  {{#paper-checkbox checked=value2 onChange=(action (mut value2))}}A checkbox: {{if value2 "yep" "nope"}}{{/paper-checkbox}}
  {{#paper-checkbox disabled=true onChange=(action "foo")}}Checkbox (disabled){{/paper-checkbox}}
  {{#paper-checkbox disabled=true checked=true onChange=(action "foo")}}Checkbox (disabled and checked){{/paper-checkbox}}
  {{#paper-checkbox noink=true onChange=(action "foo")}}Checkbox (no ink){{/paper-checkbox}}

  {{paper-checkbox label="Blockless version" onChange=(action "foo")}}

  <h3>Template</h3>
{{~#code-block language='handlebars'}}
\{{#paper-checkbox checked=value1 onChange=(action (mut value1))}}A checkbox: \{{value1}}\{{/paper-checkbox}}
\{{#paper-checkbox checked=value2 onChange=(action (mut value2))}}A checkbox: \{{if value2 "yep" "nope"}}\{{/paper-checkbox}}
\{{#paper-checkbox disabled=true onChange=(action "foo")}}Checkbox (disabled)\{{/paper-checkbox}}
\{{#paper-checkbox disabled=true checked=true onChange=(action "foo")}}Checkbox (disabled and checked)\{{/paper-checkbox}}
\{{#paper-checkbox noink=true onChange=(action "foo")}}Checkbox (no ink)\{{/paper-checkbox}}

\{{paper-checkbox label="Blockless version" onChange=(action "foo")}}
{{~/code-block}}
</div>
{{/paper-content}}
