{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle" references="main-sidebar"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Checkboxes</span>
  </h2>
{{/paper-toolbar}}
{{#paper-content classNames="md-padding"}}
<div class="doc-content">
  {{#paper-checkbox checked=value1}}A checkbox: {{value1}}{{/paper-checkbox}}
  {{#paper-checkbox checked=value2}}A checkbox: {{#if value2}}yep{{else}}nope{{/if}}{{/paper-checkbox}}
  {{#paper-checkbox disabled=true}}Checkbox (disabled){{/paper-checkbox}}
  {{#paper-checkbox disabled=true checked=true}}Checkbox (disabled and checked){{/paper-checkbox}}
  {{#paper-checkbox noink=true}}Checkbox (no ink){{/paper-checkbox}}

  {{paper-checkbox label="Blockless version"}}

  <h3>Template</h3>
{{#code-block language='handlebars'}}
\{{#paper-checkbox checked=value1}}A checkbox: \{{value1}}\{{/paper-checkbox}}
\{{#paper-checkbox checked=value2}}A checkbox: \{{#if value2}}yep\{{else}}nope\{{/if}}\{{/paper-checkbox}}
\{{#paper-checkbox disabled=true}}Checkbox (disabled)\{{/paper-checkbox}}
\{{#paper-checkbox disabled=true checked=true}}Checkbox (disabled and checked)\{{/paper-checkbox}}
\{{#paper-checkbox noink=true}}Checkbox (no ink)\{{/paper-checkbox}}

\{{paper-checkbox label="Blockless version"}}{{/code-block}}
</div>
{{/paper-content}}
