{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Buttons</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding demo-buttons"}}
<div class="doc-content">

  <div id="dialog-demo-container" style="height:300px;width:100%;background-color:#f5f2f0;position:relative;justify-content:space-around;display:flex;" flex>
    <div layout="row" layout-sm="column" layout-align="space-around" style="align-items:flex-end;">
      {{#paper-button action="showAlert" raised=true primary=true}}Alert{{/paper-button}}
      {{#paper-button action="showConfirm" raised=true primary=true}}Confirm{{/paper-button}}
      {{#paper-button action="showCustom" raised=true primary=true}}Custom Dialog{{/paper-button}}
    </div>
  </div>

  {{#if isAlert}}
      {{paper-dialog
          type="alert"
          title="This is an alert title"
          content="It's without backdrop."
          cancel="Got it!"
          onCancel="closeAlert"
          parent='#dialog-demo-container'
          hasBackdrop=false
          }}
  {{/if}}

  {{#if isConfirm}}
      {{paper-dialog
          title="This is a confirm dialog."
          content="You can specify some description text in here."
          confirm="Ok, got it!"
          onConfirm="handleDialog"
          cancel="Bye!"
          onCancel="closeConfirm"
          parent='#dialog-demo-container'
          }}
  {{/if}}

  {{#if isCustom}}
      {{#paper-dialog clickOutsideToClose=false parent='body' onCancel="closeCustom" as |onCancel|}}
          {{#paper-toolbar}}
              <div class="md-toolbar-tools">
                  <h2 flex>Some awesome title</h2>
                  {{#paper-button action=onCancel icon-button=true}}
                      {{paper-icon icon="close"}}
                  {{/paper-button}}
              </div>
          {{/paper-toolbar}}
          <md-dialog-content style="min-width:500px;max-width:850px;">
              <h2>I'm a custom dialog and don't get closed if someone clicks outside!</h2>
              <p>
                  I'm not like the others. My parent is the body element.
              </p>

                <img src="washedout.png" alt="Washed Out" style="min-width:100%;height:auto;">

              {{paper-input textarea=true label="I'm a textarea"}}
              {{paper-input label="And I'm not" value="just input"}}
              <p>

              </p>
          </md-dialog-content>
          <div class="md-actions">
                  {{#paper-button action="handleDialog" primary=true}}
                      Confirm
                  {{/paper-button}}

                  {{#paper-button action=onCancel primary=true}}
                      Close that thing!
                  {{/paper-button}}
          </div>
      {{/paper-dialog}}
  {{/if}}

  <h2>Alert and confirm dialogs</h2>

  <h3>Controller</h3>
  {{#code-block language='javascript'}}
    actions: {
      showAlert() {
        this.set('isAlert',true);
      },
      closeAlert(){
        this.set('isAlert',false);
      },
      showConfirm() {
        this.set('isConfirm',true);
      },
      closeConfirm(){
        this.set('isConfirm',false);
      },
      showCustom() {
        this.set('isCustom',true);
      },
      closeCustom(){
        this.set('isCustom',false);
      }
    }
  {{/code-block}}

  <h3>Template</h3>
  {{#code-block language='handlebars'}}
    &lt;div id="dialog-demo-container" style="position:relative;"&gt;&lt;div&gt;

    \{{#if isAlert}}
      \{{paper-dialog
        title="This is an alert title"
        content="It's without backdrop."
        cancel="Got it!"
        onCancel="closeAlert"
        parent='#dialog-demo-container'
        hasBackdrop=false
        }}
    \{{/if}}

    \{{#if isConfirm}}
      \{{paper-dialog
        title="This is a confirm dialog."
        content="You can specify some description text in here."
        confirm="Ok, got it!"
        onConfirm="handleDialog"
        cancel="Bye!"
        onCancel="closeConfirm"
        parent='#dialog-demo-container'
        }}
    \{{/if}}
  {{/code-block}}

  <h2>Custom dialogs</h2>

  <h3>Template</h3>

  {{#code-block language='handlebars'}}
  \{{#if isConfirm}}
    \{{#paper-dialog clickOutsideToClose=false parent='body' onCancel="closeCustom" as |onCancel|}}
      \{{#paper-toolbar}}
        &lt;div class="md-toolbar-tools"&gt;
          &lt;h2 flex&gt;Some awesome title&lt;/h2&gt;
          \{{#paper-button action=onCancel icon-button=true}}
            \{{paper-icon icon="close"}}
          \{{/paper-button}}
        &lt;/div&gt;
      \{{/paper-toolbar}}
      &lt;md-dialog-content style="min-width:500px;max-width:850px;"&gt;
        &lt;h2&gt;I'm a custom dialog and don't get closed if someone clicks outside!&lt;/h2&gt;
        &lt;p&gt;I'm not like the others. My parent is the body element.&lt;/p&gt;

        &lt;img src="washedout.png" alt="Washed Out" style="min-width:100%;height:auto;"&gt;

        \{{paper-input textarea=true label="I'm a textarea"}}
        \{{paper-input label="And I'm not" value="just input"}}
      &lt;/md-dialog-content&gt;

      &lt;div class="md-actions"&gt;
        \{{#paper-button action="handleDialog" primary=true}}Confirm\{{/paper-button}}
        \{{#paper-button action=onCancel primary=true}}Close that thing!\{{/paper-button}}
      &lt;/div&gt;
    \{{/paper-dialog}}
  \{{/if}}
  {{/code-block}}
</div>
{{/paper-content}}
