{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Divider</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
<div class="doc-content">
  <h4>Full width dividers</h4>
  {{#paper-content class="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}
      {{#each listData as |item|}}
        {{#paper-item class="md-3-line"}}
          <img src={{item.face}} alt={{item.who}} class="md-avatar">
          <div class="md-list-item-text">
            <h3>{{item.what}}</h3>
            <h4>{{item.who}}</h4>
            <p>
              {{item.notes}}
            </p>
          </div>
        {{/paper-item}}
        {{paper-divider}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}

  <h4>Inset dividers</h4>
  {{#paper-content class="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}
      {{#each listData as |item|}}
        {{#paper-item class="md-3-line"}}
          <img src={{item.face}} alt={{item.who}} class="md-avatar">
          <div class="md-list-item-text">
            <h3>{{item.what}}</h3>
            <h4>{{item.who}}</h4>
            <p>
              {{item.notes}}
            </p>
          </div>
        {{/paper-item}}
        {{paper-divider inset=true}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}

  <h3>Template</h3>
{{#code-block language='handlebars'}}
\{{#paper-content class="md-whiteframe-z1 list-demo"}}
  \{{#paper-list}}
    \{{#each listData as |item|}}
      \{{#paper-item}}
        &lt;img src=\{{item.face}} alt=\{{item.who}} class=&quot;md-avatar&quot;&gt;
        &lt;div class="md-list-item-text"&gt;
          &lt;h3&gt;\{{item.what}}&lt;/h3&gt;
          &lt;h4&gt;\{{item.who}}&lt;/h4&gt;
          &lt;p&gt;
            \{{item.notes}}
          &lt;/p&gt;
        &lt;/div&gt;
      \{{/paper-item}}
      \{{paper-divider}} \{{! OR \{{paper-divider inset=true}} }}
    \{{/each}}
  \{{/paper-list}}
\{{/paper-content}}{{/code-block}}
</div>
{{/paper-content}}
