{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button onClick=(action "toggleMenu" target=toggle) iconButton=true}}{{paper-icon "menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Icons</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding icon-demo"}}

<div class="doc-content">

  <h2>Available Icons</h2>
  <p>
    See the <a href="https://design.google.com/icons/" target="_blank">Material Icons page</a> for an overview of
    available icons.
  </p>

  <h2>Usage</h2>

  <h3>Basic Icons</h3>
  <div>
    {{paper-icon "check-circle"}}
  </div>
  {{#code-block language='handlebars'}}
\{{paper-icon "check-circle"}}{{/code-block}}

  <h3>Changing Sizes</h3>
  <div class="layout-row">
    {{paper-icon "check-circle" size=12}}
    {{paper-icon "check-circle" size=18}}
    {{paper-icon "check-circle" size=24}}
    {{paper-icon "check-circle" size=36}}
    {{paper-icon "check-circle" size=48}}
  </div>
    {{#code-block language='handlebars'}}
\{{paper-icon "check-circle" size=12}}
\{{paper-icon "check-circle" size=18}}
\{{paper-icon "check-circle" size=24}}
\{{paper-icon "check-circle" size=36}}
\{{paper-icon "check-circle" size=48}}{{/code-block}}

  <h3>Spinners</h3>
  <div>
    {{paper-icon "rotate-right" spin=true}}
    {{paper-icon "rotate-left" reverseSpin=true}}
  </div>
    {{#code-block language='handlebars'}}
\{{paper-icon "rotate-right" spin=true}}
\{{paper-icon "rotate-left" reverseSpin=true}}{{/code-block}}
</div>

{{/paper-content}}
