{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Icons</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding icon-demo"}}

  <h3>Template</h3>
  <h4>Basic Icons</h4>
  {{#code-block language='handlebars'}}
    \{{paper-icon icon="check"}}
  {{/code-block}}
  <h4>Changing Sizes</h4>
    {{#code-block language='handlebars'}}
      \{{paper-icon icon="check" size="sm"}}
      \{{paper-icon icon="check" size="lg"}}
      \{{paper-icon icon="check" size=2}}
      \{{paper-icon icon="check" size=3}}
      \{{paper-icon icon="check" size=4}}
      \{{paper-icon icon="check" size=5}}
    {{/code-block}}
  <h4>Spinners</h4>
    {{#code-block language='handlebars'}}
\{{paper-icon icon="rotate-right" spin=true}}
\{{paper-icon icon="rotate-left" reverseSpin=true}}{{/code-block}}
  <div>
    {{#each icons as |icon|}}
      <div class="icon-tile">
        {{paper-icon icon=icon}}
        <p>{{icon}}</p>
      </div>
    {{/each}}
  </div>

{{/paper-content}}
