{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Material icons</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding icon-demo"}}

{{paper-icon icon="access-alarms"}}
{{paper-icon icon="access-time"}}
{{paper-icon icon="accessibility"}}
{{paper-icon icon="account-box"}}
{{paper-icon icon="account-circle"}}
{{paper-icon icon="adb"}}
{{paper-icon icon="add"}}
{{paper-icon icon="add-alarm"}}
{{paper-icon icon="add-box"}}
{{paper-icon icon="add-circle"}}
{{paper-icon icon="add-circle-outline"}}
{{paper-icon icon="airplane-mode-off"}}
{{paper-icon icon="airplane-mode-on"}}
{{paper-icon icon="android"}}
{{paper-icon icon="apps"}}
{{paper-icon icon="archive"}}
{{paper-icon icon="arrow-back"}}
{{paper-icon icon="arrow-drop-down"}}
{{paper-icon icon="arrow-drop-down-circle"}}
{{paper-icon icon="arrow-drop-up"}}
{{paper-icon icon="arrow-forward"}}
{{paper-icon icon="attachment"}}
{{paper-icon icon="auto-fix"}}
{{paper-icon icon="backspace"}}
{{paper-icon icon="backup"}}
{{paper-icon icon="beenhere"}}
{{paper-icon icon="block"}}
{{paper-icon icon="bluetooth"}}
{{paper-icon icon="bluetooth-audio"}}
{{paper-icon icon="bluetooth-connected"}}
{{paper-icon icon="bluetooth-disabled"}}
{{paper-icon icon="bluetooth-searching"}}
{{paper-icon icon="bold"}}
{{paper-icon icon="book"}}
{{paper-icon icon="bookmark"}}
{{paper-icon icon="bookmark-outline"}}
{{paper-icon icon="brightness-auto"}}
{{paper-icon icon="brightness-high"}}
{{paper-icon icon="brightness-low"}}
{{paper-icon icon="brightness-medium"}}
{{paper-icon icon="bug-report"}}
{{paper-icon icon="cake"}}
{{paper-icon icon="call"}}
{{paper-icon icon="call-end"}}
{{paper-icon icon="call-made"}}
{{paper-icon icon="call-merge"}}
{{paper-icon icon="call-missed"}}
{{paper-icon icon="call-received"}}
{{paper-icon icon="call-split"}}
{{paper-icon icon="camera"}}
{{paper-icon icon="camera-alt"}}
{{paper-icon icon="camera-roll"}}
{{paper-icon icon="cancel"}}
{{paper-icon icon="cast"}}
{{paper-icon icon="cast-connected"}}
{{paper-icon icon="chat"}}
{{paper-icon icon="check"}}
{{paper-icon icon="check-box"}}
{{paper-icon icon="check-box-blank"}}
{{paper-icon icon="check-box-outline"}}
{{paper-icon icon="check-box-outline-blank"}}
{{paper-icon icon="check-circle"}}
{{paper-icon icon="check-circle-blank"}}
{{paper-icon icon="check-circle-outline"}}
{{paper-icon icon="check-circle-outline-blank"}}
{{paper-icon icon="chevron-left"}}
{{paper-icon icon="chevron-right"}}
{{paper-icon icon="chromecast"}}
{{paper-icon icon="circles"}}
{{paper-icon icon="circles-add"}}
{{paper-icon icon="circles-extended"}}
{{paper-icon icon="clear"}}
{{paper-icon icon="close"}}
{{paper-icon icon="close-caption"}}
{{paper-icon icon="cloud"}}
{{paper-icon icon="cloud-circle"}}
{{paper-icon icon="cloud-done"}}
{{paper-icon icon="cloud-download"}}
{{paper-icon icon="cloud-off"}}
{{paper-icon icon="cloud-queue"}}
{{paper-icon icon="cloud-upload"}}
{{paper-icon icon="comment"}}
{{paper-icon icon="communities"}}
{{paper-icon icon="content-copy"}}
{{paper-icon icon="content-cut"}}
{{paper-icon icon="content-paste"}}
{{paper-icon icon="create"}}
{{paper-icon icon="credit-card"}}
{{paper-icon icon="crop"}}
{{paper-icon icon="crop-free"}}
{{paper-icon icon="crop-landscape"}}
{{paper-icon icon="crop-portrait"}}
{{paper-icon icon="crop-square"}}
{{paper-icon icon="data-usage"}}
{{paper-icon icon="delete"}}
{{paper-icon icon="developer-mode"}}
{{paper-icon icon="dialpad"}}
{{paper-icon icon="directions"}}
{{paper-icon icon="directions-bike"}}
{{paper-icon icon="directions-bus"}}
{{paper-icon icon="directions-car"}}
{{paper-icon icon="directions-subway"}}
{{paper-icon icon="directions-train"}}
{{paper-icon icon="directions-transit"}}
{{paper-icon icon="directionswalk"}}
{{paper-icon icon="disc-full"}}
{{paper-icon icon="do-not-disturb"}}
{{paper-icon icon="dock"}}
{{paper-icon icon="domain"}}
{{paper-icon icon="done"}}
{{paper-icon icon="done-all"}}
{{paper-icon icon="drafts"}}
{{paper-icon icon="drive"}}
{{paper-icon icon="drive-apk"}}
{{paper-icon icon="drive-audio"}}
{{paper-icon icon="drive-code"}}
{{paper-icon icon="drive-document"}}
{{paper-icon icon="drive-drawing"}}
{{paper-icon icon="drive-eta"}}
{{paper-icon icon="drive-file"}}
{{paper-icon icon="drive-font"}}
{{paper-icon icon="drive-form"}}
{{paper-icon icon="drive-fusiontable"}}
{{paper-icon icon="drive-image"}}
{{paper-icon icon="drive-ms-excel"}}
{{paper-icon icon="drive-ms-powerpoint"}}
{{paper-icon icon="drive-ms-word"}}
{{paper-icon icon="drive-pdf"}}
{{paper-icon icon="drive-presentation"}}
{{paper-icon icon="drive-script"}}
{{paper-icon icon="drive-site"}}
{{paper-icon icon="drive-spreadsheet"}}
{{paper-icon icon="drive-video"}}
{{paper-icon icon="drive-zip"}}
{{paper-icon icon="earth"}}
{{paper-icon icon="email"}}
{{paper-icon icon="error"}}
{{paper-icon icon="event"}}
{{paper-icon icon="exit-to-app"}}
{{paper-icon icon="expand-less"}}
{{paper-icon icon="expand-more"}}
{{paper-icon icon="explore"}}
{{paper-icon icon="extension"}}
{{paper-icon icon="fast-forward"}}
{{paper-icon icon="fast-rewind"}}
{{paper-icon icon="favorite"}}
{{paper-icon icon="favorite-outline"}}
{{paper-icon icon="file-download"}}
{{paper-icon icon="file-upload"}}
{{paper-icon icon="filter"}}
{{paper-icon icon="flag"}}
{{paper-icon icon="flash-auto"}}
{{paper-icon icon="flash-off"}}
{{paper-icon icon="flash-on"}}
{{paper-icon icon="flights"}}
{{paper-icon icon="flip-to-back"}}
{{paper-icon icon="flip-to-front"}}
{{paper-icon icon="folder"}}
{{paper-icon icon="folder-mydrive"}}
{{paper-icon icon="folder-shared"}}
{{paper-icon icon="forum"}}
{{paper-icon icon="forward"}}
{{paper-icon icon="fullscreen"}}
{{paper-icon icon="fullscreen-exit"}}
{{paper-icon icon="gamepad"}}
{{paper-icon icon="games"}}
{{paper-icon icon="gesture"}}
{{paper-icon icon="glass"}}
{{paper-icon icon="gmail"}}
{{paper-icon icon="google"}}
{{paper-icon icon="google-plus"}}
{{paper-icon icon="gps-fixed"}}
{{paper-icon icon="gps-not-fixed"}}
{{paper-icon icon="gps-off"}}
{{paper-icon icon="group"}}
{{paper-icon icon="group-add"}}
{{paper-icon icon="hangout"}}
{{paper-icon icon="hangout-video"}}
{{paper-icon icon="hangout-video-off"}}
{{paper-icon icon="headset"}}
{{paper-icon icon="headset-mic"}}
{{paper-icon icon="help"}}
{{paper-icon icon="high-quality"}}
{{paper-icon icon="history"}}
{{paper-icon icon="home"}}
{{paper-icon icon="hotel"}}
{{paper-icon icon="https"}}
{{paper-icon icon="image"}}
{{paper-icon icon="import-export"}}
{{paper-icon icon="inbox"}}
{{paper-icon icon="info"}}
{{paper-icon icon="info-outline"}}
{{paper-icon icon="invert-colors"}}
{{paper-icon icon="italics"}}
{{paper-icon icon="keep"}}
{{paper-icon icon="keyboard"}}
{{paper-icon icon="keyboard-alt"}}
{{paper-icon icon="keyboard-arrow-down"}}
{{paper-icon icon="keyboard-arrow-left"}}
{{paper-icon icon="keyboard-arrow-right"}}
{{paper-icon icon="keyboard-arrow-up"}}
{{paper-icon icon="keyboard-backspace"}}
{{paper-icon icon="keyboard-capslock"}}
{{paper-icon icon="keyboard-control"}}
{{paper-icon icon="keyboard-hide"}}
{{paper-icon icon="keyboard-return"}}
{{paper-icon icon="keyboard-tab"}}
{{paper-icon icon="keyboard-voice"}}
{{paper-icon icon="label"}}
{{paper-icon icon="label-outline"}}
{{paper-icon icon="landscape"}}
{{paper-icon icon="language"}}
{{paper-icon icon="laptop"}}
{{paper-icon icon="launch"}}
{{paper-icon icon="link"}}
{{paper-icon icon="list"}}
{{paper-icon icon="live-help"}}
{{paper-icon icon="location"}}
{{paper-icon icon="location-city"}}
{{paper-icon icon="location-disabled"}}
{{paper-icon icon="location-searching"}}
{{paper-icon icon="lock"}}
{{paper-icon icon="lock-open"}}
{{paper-icon icon="lock-outline"}}
{{paper-icon icon="loop"}}
{{paper-icon icon="mail"}}
{{paper-icon icon="map"}}
{{paper-icon icon="mark-unread"}}
{{paper-icon icon="memory"}}
{{paper-icon icon="menu"}}
{{paper-icon icon="message"}}
{{paper-icon icon="messenger"}}
{{paper-icon icon="mic"}}
{{paper-icon icon="none"}}
{{paper-icon icon="off"}}
{{paper-icon icon="mms"}}
{{paper-icon icon="mood"}}
{{paper-icon icon="more"}}
{{paper-icon icon="more-horiz"}}
{{paper-icon icon="more-vert"}}
{{paper-icon icon="mouse"}}
{{paper-icon icon="movie"}}
{{paper-icon icon="nest-protect"}}
{{paper-icon icon="nest-thermostat"}}
{{paper-icon icon="network-cell"}}
{{paper-icon icon="network-wifi"}}
{{paper-icon icon="news"}}
{{paper-icon icon="nfc"}}
{{paper-icon icon="notifications"}}
{{paper-icon icon="notifications-none"}}
{{paper-icon icon="notifications-off"}}
{{paper-icon icon="notifications-on"}}
{{paper-icon icon="notifications-paused"}}
{{paper-icon icon="pages"}}
{{paper-icon icon="palette"}}
{{paper-icon icon="panorama"}}
{{paper-icon icon="party-mode"}}
{{paper-icon icon="pause"}}
{{paper-icon icon="pause-circle-fill"}}
{{paper-icon icon="pause-circle-outline"}}
{{paper-icon icon="people"}}
{{paper-icon icon="person"}}
{{paper-icon icon="person-add"}}
{{paper-icon icon="person-location"}}
{{paper-icon icon="person-outline"}}
{{paper-icon icon="phone"}}
{{paper-icon icon="phone2"}}
{{paper-icon icon="phone-bluetooth-speaker"}}
{{paper-icon icon="phone-forwarded"}}
{{paper-icon icon="phone-in-talk"}}
{{paper-icon icon="phone-locked"}}
{{paper-icon icon="phone-missed"}}
{{paper-icon icon="phone-paused"}}
{{paper-icon icon="photo"}}
{{paper-icon icon="photo-album"}}
{{paper-icon icon="photo-library"}}
{{paper-icon icon="place"}}
{{paper-icon icon="play-arrow"}}
{{paper-icon icon="play-circle-fill"}}
{{paper-icon icon="play-circle-outline"}}
{{paper-icon icon="play-download"}}
{{paper-icon icon="play-install"}}
{{paper-icon icon="plus-one"}}
{{paper-icon icon="poll"}}
{{paper-icon icon="polymer"}}
{{paper-icon icon="portrait"}}
{{paper-icon icon="post-blogger"}}
{{paper-icon icon="post-facebook"}}
{{paper-icon icon="post-gplus"}}
{{paper-icon icon="post-instagram"}}
{{paper-icon icon="post-linkedin"}}
{{paper-icon icon="post-pinterest"}}
{{paper-icon icon="post-tumblr"}}
{{paper-icon icon="post-twitter"}}
{{paper-icon icon="print"}}
{{paper-icon icon="public"}}
{{paper-icon icon="queue"}}
{{paper-icon icon="radio-button-off"}}
{{paper-icon icon="radio-button-on"}}
{{paper-icon icon="receipt"}}
{{paper-icon icon="refresh"}}
{{paper-icon icon="reminder"}}
{{paper-icon icon="remove"}}
{{paper-icon icon="remove-circle"}}
{{paper-icon icon="remove-circle-outline"}}
{{paper-icon icon="replay"}}
{{paper-icon icon="reply"}}
{{paper-icon icon="reply-all"}}
{{paper-icon icon="report"}}
{{paper-icon icon="ring-volume"}}
{{paper-icon icon="rotate-left"}}
{{paper-icon icon="rotate-right"}}
{{paper-icon icon="satellite"}}
{{paper-icon icon="save"}}
{{paper-icon icon="schedule"}}
{{paper-icon icon="school"}}
{{paper-icon icon="screen-lock-landscape"}}
{{paper-icon icon="screen-lock-portrait"}}
{{paper-icon icon="screen-lock-rotation"}}
{{paper-icon icon="screen-rotation"}}
{{paper-icon icon="sd-card"}}
{{paper-icon icon="sd-storage"}}
{{paper-icon icon="search"}}
{{paper-icon icon="select-all"}}
{{paper-icon icon="send"}}
{{paper-icon icon="settings"}}
{{paper-icon icon="settings-application"}}
{{paper-icon icon="settings-bluetooth"}}
{{paper-icon icon="settings-cell"}}
{{paper-icon icon="settings-phone"}}
{{paper-icon icon="settings-power"}}
{{paper-icon icon="settings-voice"}}
{{paper-icon icon="share"}}
{{paper-icon icon="share-alt"}}
{{paper-icon icon="shopping-basket"}}
{{paper-icon icon="shopping-cart"}}
{{paper-icon icon="shuffle"}}
{{paper-icon icon="signal-cellular-1-bar"}}
{{paper-icon icon="signal-cellular-2-bar"}}
{{paper-icon icon="signal-cellular-3-bar"}}
{{paper-icon icon="signal-cellular-4-bar"}}
{{paper-icon icon="signal-wifi-1-bar"}}
{{paper-icon icon="signal-wifi-2-bar"}}
{{paper-icon icon="signal-wifi-3-bar"}}
{{paper-icon icon="signal-wifi-4-bar"}}
{{paper-icon icon="sim-card-alert"}}
{{paper-icon icon="skip-next"}}
{{paper-icon icon="skip-previous"}}
{{paper-icon icon="slideshow"}}
{{paper-icon icon="sms"}}
{{paper-icon icon="sms-failed"}}
{{paper-icon icon="sort"}}
{{paper-icon icon="speaker"}}
{{paper-icon icon="star"}}
{{paper-icon icon="star-half"}}
{{paper-icon icon="star-outline"}}
{{paper-icon icon="star-rate"}}
{{paper-icon icon="stop"}}
{{paper-icon icon="storage"}}
{{paper-icon icon="store"}}
{{paper-icon icon="swap-driving-apps"}}
{{paper-icon icon="swap-horiz"}}
{{paper-icon icon="swap-vert"}}
{{paper-icon icon="swap-vert-circle"}}
{{paper-icon icon="switch-camera"}}
{{paper-icon icon="switch-video"}}
{{paper-icon icon="sync"}}
{{paper-icon icon="sync-disabled"}}
{{paper-icon icon="sync-green"}}
{{paper-icon icon="sync-problem"}}
{{paper-icon icon="sync-problem-red"}}
{{paper-icon icon="system-update"}}
{{paper-icon icon="tab"}}
{{paper-icon icon="tab-unselected"}}
{{paper-icon icon="tablet"}}
{{paper-icon icon="tag-faces"}}
{{paper-icon icon="tap-and-play"}}
{{paper-icon icon="terrain"}}
{{paper-icon icon="text-format"}}
{{paper-icon icon="text-sms"}}
{{paper-icon icon="theaters"}}
{{paper-icon icon="thumbs-down"}}
{{paper-icon icon="thumbs-up"}}
{{paper-icon icon="time-to-leave"}}
{{paper-icon icon="timelapse"}}
{{paper-icon icon="timer"}}
{{paper-icon icon="today"}}
{{paper-icon icon="traffic"}}
{{paper-icon icon="translate"}}
{{paper-icon icon="tv"}}
{{paper-icon icon="underline"}}
{{paper-icon icon="undo"}}
{{paper-icon icon="unfold-less"}}
{{paper-icon icon="unfold-more"}}
{{paper-icon icon="unknown-1"}}
{{paper-icon icon="unknown-3"}}
{{paper-icon icon="unknown-4"}}
{{paper-icon icon="unknown-5"}}
{{paper-icon icon="unknown-6"}}
{{paper-icon icon="unknown-7"}}
{{paper-icon icon="unkown-2"}}
{{paper-icon icon="usb"}}
{{paper-icon icon="vibration"}}
{{paper-icon icon="video-youtube"}}
{{paper-icon icon="videocam"}}
{{paper-icon icon="videocam-off"}}
{{paper-icon icon="view-array"}}
{{paper-icon icon="view-column"}}
{{paper-icon icon="view-headline"}}
{{paper-icon icon="view-list"}}
{{paper-icon icon="view-module"}}
{{paper-icon icon="view-quilt"}}
{{paper-icon icon="view-stream"}}
{{paper-icon icon="visibility"}}
{{paper-icon icon="visibility-off"}}
{{paper-icon icon="voice"}}
{{paper-icon icon="voicemail"}}
{{paper-icon icon="volume-down"}}
{{paper-icon icon="volume-mute"}}
{{paper-icon icon="volume-off"}}
{{paper-icon icon="volume-up"}}
{{paper-icon icon="vpn"}}
{{paper-icon icon="warning"}}
{{paper-icon icon="watch"}}
{{paper-icon icon="wb-auto"}}
{{paper-icon icon="wb-cloudy"}}
{{paper-icon icon="wb-incandescent"}}
{{paper-icon icon="wb-irradescent"}}
{{paper-icon icon="wb-sunny"}}
{{paper-icon icon="web"}}
{{paper-icon icon="whatshot"}}
{{paper-icon icon="wifi-tethering"}}
{{paper-icon icon="work"}}

{{/paper-content}}
