{{page-toolbar pageTitle="Introduction" isDemo=false}}

{{#paper-content scroll-y=true class="layout-padding flex"}}
<div class="doc-content">

  {{#paper-card as |card|}}
  {{#paper-toolbar warn=true}}
    {{#paper-toolbar-tools}}
      <h2>Pre-production Version</h2>
      <span class="flex"></span>
      {{#paper-button href="/ember-paper/release-0-2"}}Switch to version 0.2{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#card.content}}
    <p>You are viewing the demonstration and documentation for a <strong>pre-production</strong> built of <code>ember-paper</code>. This version is in flux. For version 1.0, all components are being updated to reflect the latest Ember coding practices and Angular Material stylesheets. Components which have not yet been updated are shown with a {{paper-icon "warning"}} and are subject to API changes. Be sure to read CHANGELOG.md when updating.</p>
    <p><strong>Wrong version?</strong> The latest released stable version of <code>ember-paper</code> is 0.2, installed by <br><code>ember install ember-paper@^0.2</code>. See README.md for advice on which version to use. <a href="/ember-paper/release-0-2">Switch to version 0.2.</a></p>
  {{/card.content}}
  {{/paper-card}}

  <h2 class="md-headline" style="margin-top: 24px;">Welcome to Ember Paper.</h2>
  <p>This project aims to bring Google's new <a href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a> to Ember. The goal is to encapsulate everything possible in Ember components. This project is packaged as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon.</p>

  <h2 class="md-headline">Installation</h2>

  <p>Install your preferred version of this ember-cli addon in your ember-cli project. To install the latest pre-production 1.0 version:</p>
  {{code-snippet name="install-1.0.sh"}}
  <p>To install the latest stable 0.2 version:</p>
  {{code-snippet name="install-0.2.sh"}}

  <p>This should also automatically create an scss file under <code>app/styles/app.scss</code> with <code>@import 'ember-paper';</code> and install <code>ember-cli-sass</code>.</p>
  <p>Sass is an important part of Ember-paper. Using sass you can override default variables and easily change the default behavior of Ember-paper.</p>

  <p>All the components and styles are ready to use in your application templates.</p>
  <p>Navigate through the docs to understand how to use each component.</p>

  <h2 class="md-headline">Content Security Policy</h2>

  <p>Ember Paper uses fonts from Google Fonts, so the URL to them has to be white listed.  You can set this by adding to the Content Security Policy defined in <code>config/environment.js</code> like so:</p>

  {{code-snippet name="content-security-policy.js"}}

  <p>You can find out more information on the CSP addon page <a href="https://github.com/rwjblue/ember-cli-content-security-policy#ember-cli-content-security-policy">here</a>. We also need to allow <code>data:</code> in <code>img-src</code> because of a <a href="https://github.com/miguelcobain/ember-paper/blob/master/app%2Fstyles%2Fpaper-button.scss">current hack</a> in paper-button.</p>

  <h2 class="md-headline">Options</h2>

  <p>Ember-paper supports the following options, specified in your <code>ember-cli-build.js</code> file:</p>

  <dl>
    <dt><code>ENV['autoprefixer']</code> (defaults to <code>{ browsers: ['last 2 versions'] }</code>)</dt>
    <dd>
      By default ember-paper will run <a href="https://github.com/postcss/autoprefixer">autoprefixer</a> on your styles.
      This option allows you to override the default autoprefixer target.
    </dd>
    <dt><code>ENV['ember-paper'].insertFontLinks</code> (defaults to <code>true</code>)</dt>
    <dd>
      Consuming apps can specify this option to prevent the insertion of google fonts links
      inside the head tag. This is especially useful if you want to include your own fonts.
    </dd>
  </dl>

  <h2 class="md-headline">Contribution</h2>
  <p>This is a very ambitious project. Google's design specs are extensive, and non-trivial to implement. If you can port or fix a component or two, please drop a pull request or issue on GitHub or join us on slack. See README.md for more resources.</p>
  <p>With everyone's help, we can bring this amazing design spec to Ember in a modular and elegant way. The Ember way.</p>
  <p>
    <strong>Help us on Github!</strong>
  </p>
  <p>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/miguelcobain/ember-paper" data-style="mega" data-count-href="/miguelcobain/ember-paper/network" data-count-api="/repos/miguelcobain/ember-paper#forks_count">Fork</a>
  </p>
</div>
{{/paper-content}}
