{{page-toolbar pageTitle="Introduction" isDemo=false}}

{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div class="doc-content">

    <h2 class="md-headline" style="margin-top: 24px;">Welcome to Ember Paper.</h2>
    <p>This project aims to bring Google's new <a href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a> to Ember. The goal is to encapsulate everything possible in Ember components. This project is packaged as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon.</p>

    <h2 class="md-headline">Installation</h2>

    <p>
      To install run:
    </p>
    {{code-snippet name="install.sh"}}

    <p>This should also automatically create an scss file under <code>app/styles/app.scss</code> with <code>@import 'ember-paper';</code> and install <code>ember-cli-sass</code>.</p>
    <p>Sass is an important part of Ember-paper. Using sass you can override default variables and easily change the default behavior of Ember-paper.</p>

    <p>All the components and styles are ready to use in your application templates.</p>
    <p>Navigate through the docs to understand how to use each component.</p>

    <h2 class="md-headline">Content Security Policy</h2>

    <p>
      This is no longer used in newer ember-cli apps. However, here are the instructions if you need them.
      Ember Paper uses fonts from Google Fonts, so the URL to them has to be white listed.
      You can set this by adding to the Content Security Policy defined in <code>config/environment.js</code> like so:
    </p>

    {{code-snippet name="content-security-policy.js"}}

    <p>
      You can find out more information on the CSP addon page <a href="https://github.com/rwjblue/ember-cli-content-security-policy#ember-cli-content-security-policy">here</a>.
      We also need to allow <code>data:</code> in <code>img-src</code> because of a <a href="https://github.com/angular/material/blob/v1.1.4/src/components/button/button.scss#L123">current hack</a> in paper-button styles.
    </p>

    <h2 class="md-headline">Options</h2>

    <p>Ember-paper supports the following options, specified in your <code>ember-cli-build.js</code> file:</p>

    <dl>
      <dt><code>ENV['autoprefixer']</code> (defaults to <code>{ browsers: ['last 2 versions'] }</code>)</dt>
      <dd>
        By default ember-paper will run <a href="https://github.com/postcss/autoprefixer">autoprefixer</a> on your styles.
        This option allows you to override the default autoprefixer target.
      </dd>
      <dt><code>ENV['ember-paper'].insertFontLinks</code> (defaults to <code>true</code>)</dt>
      <dd>
        Consuming apps can specify this option to prevent the insertion of google fonts links
        inside the head tag. This is especially useful if you want to include your own fonts.
      </dd>
      <dt><code>ENV['ember-paper'].whitelist</code> (defaults to <code>[]</code>)</dt>
      <dd>
        Consuming apps can optionally specify this array to only include these components into the build.
        You should use either whitelist or blacklist, not both.
        {{code-snippet name="whitelist.js"}}
        The dependencies of the specified components will be included as well.
        This is the recommended approach, blacklist is harder to get right.
      </dd>
      <dt><code>ENV['ember-paper'].blacklist</code> (defaults to <code>[]</code>)</dt>
      <dd>
        Consuming apps can optionally specify this array to exclude these components from the build.
        {{code-snippet name="blacklist.js"}}
        This only bans from the build the specified components, not its dependencies.
        whitelist is easier to maintain.
      </dd>
    </dl>

    <h2 class="md-headline">Documentation for Previous Versions</h2>
    <p>Documentation for previous versions can be found here:</p>
    <ul>
      <li><a href="https://forge512.github.io/ember-paper/">Version 0.2</a></li>
    </ul>

    <h2 class="md-headline">Contribution</h2>
    <p>This is a very ambitious project. Google's design specs are extensive, and non-trivial to implement. If you can port or fix a component or two, please drop a pull request or issue on GitHub or join us on Discord. See README.md for more resources.</p>
    <p>With everyone's help, we can bring this amazing design spec to Ember in a modular and elegant way. The Ember way.</p>
    <p>
      <strong>Help us on Github!</strong>
    </p>
    <p>
      {{!-- Place this tag where you want the button to render. --}}
      <a class="github-button" href="https://github.com/miguelcobain/ember-paper" data-style="mega" data-count-href="/miguelcobain/ember-paper/network" data-count-api="/repos/miguelcobain/ember-paper#forks_count">Fork</a>
    </p>
  </div>
{{/paper-content}}
