{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Lists</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
<div class="doc-content">
  {{#paper-content classNames="md-whiteframe-z1 list-demo"}}
    {{#paper-list}}
      {{#each listData}}
        {{#paper-item}}
          {{#paper-tile-left}}
            <img {{bind-attr src=face alt=who}} class="face">
          {{/paper-tile-left}}

          {{#paper-tile-content}}
            <h3>{{what}}</h3>
            <h4>{{who}}</h4>
            <p>
              {{notes}}
            </p>
          {{/paper-tile-content}}
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}

  <h3>Template</h3>
  <pre>
  \{{#paper-content classNames="md-whiteframe-z1 list-demo"}}
    \{{#paper-list}}
      \{{#each listData}}
        \{{#paper-item}}
          \{{#paper-tile-left}}
            &lt;img \{{bind-attr src=face alt=who}} class=&quot;face&quot;&gt;
          \{{/paper-tile-left}}

          \{{#paper-tile-content}}
            &lt;h3&gt;\{{what}}&lt;/h3&gt;
            &lt;h4&gt;\{{who}}&lt;/h4&gt;
            &lt;p&gt;
              \{{notes}}
            &lt;/p&gt;
          \{{/paper-tile-content}}
        \{{/paper-item}}
      \{{/each}}
    \{{/paper-list}}
  \{{/paper-content}}
  </pre>
</div>
{{/paper-content}}
