{{#paper-toolbar}}
    <h2 class="md-toolbar-tools">
      {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
        {{paper-icon icon="menu"}}
      {{/paper-sidenav-toggle}}
        <span>Progress Linear</span>
    </h2>
{{/paper-toolbar}}

{{#paper-content class="md-padding"}}
  <div class="doc-content">
    <h3>Basic Usage</h3>

    <h4>Indeterminate mode</h4>
    {{paper-progress-linear}}

    <h4>Buffer mode</h4>
    {{paper-progress-linear warn=true value=determinateValue buffer-value=determinateValue2}}

    <h4>Query mode</h4>
    {{paper-progress-linear accent=true mode=mode value=determinateValue}}

<h3>Template</h3>
{{#code-block language='handlebars'}}
&lt;h4&gt;Indeterminate mode&lt;/h4&gt;
\{{paper-progress-linear}}

&lt;h4&gt;Buffer mode&lt;/h4&gt;
\{{paper-progress-linear warn=true value=determinateValue buffer-value=determinateValue2}}

&lt;h4&gt;Query mode&lt;/h4&gt;
\{{paper-progress-linear accent=true mode=mode value=determinateValue}}
{{/code-block}}
  </div>
{{/paper-content}}
