{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#paper-sidenav-toggle as |toggle|}}
        {{#paper-button target=toggle action="toggleMenu" iconButton=true}}{{paper-icon "menu"}}{{/paper-button}}
      {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Switches</span>
    </div>
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  <div class="doc-content">
    <p>
      {{#paper-switch checked=booleanProp1 onChange=(action (mut booleanProp1))}} {{booleanProp1}} {{/paper-switch}}
      {{#paper-switch checked=booleanProp2 onChange=(action (mut booleanProp2))}} {{booleanProp2}} {{/paper-switch}}
      {{#paper-switch disabled=true onChange=(action "foo")}} Disabled switch {{/paper-switch}}
      {{#paper-switch noink=true onChange=(action "foo")}} Noink switch {{/paper-switch}}

      {{paper-switch label="Blockless version" onChange=(action "foo")}}
    </p>
    <h3>Template</h3>
    {{~#code-block language='handlebars'}}
      \{{#paper-switch checked=booleanProp1 onChange=(action (mut booleanProp1))}} \{{booleanProp1}} \{{/paper-switch}}

      \{{#paper-switch checked=booleanProp2 onChange=(action (mut booleanProp2))}} \{{booleanProp2}} \{{/paper-switch}}

      \{{#paper-switch disabled=true onChange=(action 'foo')}} Disabled switch \{{/paper-switch}}

      \{{#paper-switch noink=true onChange=(action 'foo')}} Noink switch \{{/paper-switch}}

      \{{paper-switch label="Blockless version" onChange=(action 'foo')}}
    {{~/code-block}}
  </div>
{{/paper-content}}
