{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Switches</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
<div class="doc-content">
  <p>
    {{#paper-switch checked=booleanProp1}} {{booleanProp1}} {{/paper-switch}}
    {{#paper-switch checked=booleanProp2}} {{booleanProp2}} {{/paper-switch}}
    {{#paper-switch disabled=true}} Disabled switch {{/paper-switch}}
    {{#paper-switch noink=true}} Noink switch {{/paper-switch}}

    {{paper-switch label="Blockless version"}}
  </p>
  <h3>Template</h3>
{{#code-block language='handlebars'}}
\{{#paper-switch checked=booleanProp1}} \{{booleanProp1}} \{{/paper-switch}}

\{{#paper-switch checked=booleanProp2}} \{{booleanProp2}} \{{/paper-switch}}

\{{#paper-switch disabled=true}} Disabled switch \{{/paper-switch}}

\{{#paper-switch noink=true}} Noink switch \{{/paper-switch}}

\{{paper-switch label="Blockless version"}}{{/code-block}}
</div>
{{/paper-content}}
