{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Text fields</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
<div class="doc-content">
  <ul class="paper-list-inline">
    <li>{{paper-text label="Name" value=name}}</li>
    <li>{{paper-text label="E-mail" type="email" value=email}}</li>
    <li>{{paper-text label="Password" type="password"}}</li>
    <li>{{paper-text label="Company (disabled)" type="text" value="Google" disabled=true}}</li>
  </ul>
  <p>Name: {{name}}</p>
  <p>Email: {{email}}</p>

  <h3>Input Errors</h3>
  <p>
    {{paper-text label="Address" value=address required=true required-errortext="Address is required."}}
    {{paper-text label="Maximum Value" value=maxNumber max="5" max-errortext="Enter 5 or less."}}
    {{paper-text label="Minimum Value" value=minNumber min="1" min-errortext="Enter at least 1."}}
    {{paper-text label="Maximum Character Length" value=maxLength required=true md-maxlength="10" md-maxlength-errortext="Maximum length exceeded."}}
    {{paper-text label="All Constraints" value=allConstraints
        required=true
        min="2"
        max="10"
        md-maxlength="2"
        md-maxlength-errortext="Max length exceeded."
    }}
  </p>

  <h3>Template</h3>
{{#code-block language='handlebars'}}
\{{paper-text label="Name" value=name}}
\{{paper-text label="E-mail" type="email" value=email}}
\{{paper-text label="Password" type="password"}}
\{{paper-text label="E-mail" type="email" disabled=true}}

\{{paper-text label="Address" value=address required=true required-errortext="Address is required."}}
\{{paper-text label="Maximum Value" value=maxNumber max="5" max-errortext="Enter 5 or less."}}
\{{paper-text label="Minimum Value" value=minNumber min="1" min-errortext="Enter at least 1."}}
\{{paper-text label="Maximum Character Length" value=maxLength required=true md-maxlength="10" md-maxlength-errortext="Maximum length exceeded."}}
\{{paper-text label="All Constraints" value=allConstraints
   required=true
   min="2"
   max="10"
   md-maxlength="2"
   md-maxlength-errortext="Max length exceeded."
}}
{{/code-block}}
</div>
{{/paper-content}}
