{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Text fields</span>
  </h2>
{{/paper-toolbar}}

{{#paper-content classNames="md-padding"}}
<div class="doc-content">
  <ul class="paper-list-inline">
    <li>{{paper-text label="Name" value=name}}</li>
    <li>{{paper-text label="E-mail" type="email" value=email focusIn="notifyEditingText" focusOut="alertFocusedOut"}}</li>
    <li>{{paper-text label="Password" type="password"}}</li>
    <li>{{paper-text label="E-mail" type="email" disabled=true}}</li>
  </ul>
  <p>Name: {{name}}</p>
  <p>Email: {{email}}</p>
  {{#if isEditingText}}<p>Currently editing text</p>{{/if}}
  <h3>Template</h3>
  <pre>
    \{{paper-text label="Name" value=name}}
    \{{paper-text label="E-mail" type="email" value=email focusIn="notifyEditingText" focusOut="alertFocusedOut"}}
    \{{paper-text label="Password" type="password"}}
    \{{paper-text label="E-mail" type="email" disabled=true}}
  </pre>
</div>
{{/paper-content}}
