<ul class="toc" {{did-insert this.onInsert}}>
  {{#each this.headers as |header|}}
    <li class="toc--{{header.tagName}} {{if (eq selected header.hashValue) "toc--selected"}}">
      <a href="#{{header.hashValue}}">{{header.value}}</a>
    </li>
  {{/each}}
</ul>
